<div>
    <detail-panel id="outer-detail-panel">
        <uibuilder-vaadin-grid id="test-grid" item-bind="items:tests">
        </uibuilder-vaadin-grid>
        <master-detail-controller id="inner-mdc" master="test-grid"></master-detail-controller>
    </detail-panel>
    <master-detail-controller id="mdc" detail="outer-detail-panel"></master-detail-controller>
</div>
