<!-- CODE BLOCK DEFINITION - double_click_collection_grid.html - START -->
<uibuilder-page on-after-load="collectionDoubleClickCB::initializeGrid">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Double-click uibuilder-grid with collection-based repository</h2>
        <div class="description">
            <ul>
                <li>The deadline column contains two double-clickable parts. The "deadline" text, and the date itself.</li>
                <li>To handle the double-click event, the <code>on-double-click</code> attribute has to be used in the
                    <code>vaadin-uibuilder-grid</code> tag with a UIEventHandler reference.
                </li>
                <li>The backend method can get the item of the row with the <code>@Item</code> annotation, and any other "<code>data-</code>"
                    prefixed attribute specified on the <code>uibuilder-double-click</code><br/>with the <code>@Data</code> annotation
                    specifying the remaining part of the attribute name after the prefix as the annotation value.
                </li>
                <li>The <code>uibuilder-double-click</code> component will pass the click to the grid if the click is not
                    a double-click, and select/deselect the item under the mouse cursor.<br/>To disable this feature,
                    add the <code>prevent-single-click</code> attribute to the component.
                </li>
                <li>The double-click timeout can be configured individually on each <code>uibuilder-double-click</code> component with
                    the <code>timeout="500"</code> attribute.<br/>The default value is 300 and is in milliseconds.
                </li>
            </ul>
        </div>
        <div class="component">
            <hr/>
            <!-- CODE BLOCK DEFINITION - double_click_collection_grid.html - START -->
            <vaadin-uibuilder-grid id="grid" selection-mode="multi" on-double-click="collectionDoubleClickCB::doubleClick">
                <item-data-source name="collectionSimpleDs"></item-data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Task
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>
                        The
                        <uibuilder-grid-doubleclick data-path="the deadline literal" prevent-single-click>
                            deadline
                        </uibuilder-grid-doubleclick>
                        is
                        <uibuilder-grid-doubleclick data-path="the date">
                            <span>{{item.deadline}}</span>
                        </uibuilder-grid-doubleclick>
                        11:59 pm
                    </template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>double_click_collection_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CollectionDoubleClickGridControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/double_click_collection_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CollectionDoubleClickGridControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - double_click_collection_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
