<!-- CODE BLOCK DEFINITION - filtered_collection_grid.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-grid with collection-based repository and filtering</h2>
        <div class="description">
            The <code>datasource-id</code> attribute of the <code>data-source</code> tag must be the same in the filter and
            the other component to use the same datasource instance.<br/>
            The defined datasource id must be unique in the whole project.<br/>
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - filtered_collection_grid.html - START -->
            <vaadin-button on-click="collectionSimpleGridBean::addElements">Add some elements</vaadin-button>
            <!-- CODE BLOCK DEFINITION END -->
            <hr/>
            <!-- CODE BLOCK DEFINITION - filtered_collection_grid.html - START -->
            <uibuilder-common-filter auto-search>
                <data-source datasource-id="collection-ds" name="collectionFilteredDs"></data-source>
                <filter-types>
                    <filter-type label="Text" filter="todo" operators='["ilike", "like", "=", "in"]'></filter-type>
                    <filter-type label="Deadline" filter="deadline"></filter-type>
                </filter-types>
            </uibuilder-common-filter>

            <vaadin-uibuilder-grid id="collection-based-grid" multi-sort>
                <item-data-source datasource-id="collection-ds" name="collectionFilteredDs"></item-data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Todo
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>filtered_collection_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CollectionSimpleGridBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/filtered_collection_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CollectionSimpleGridBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - filtered_collection_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
