<!-- CODE BLOCK DEFINITION - ordered_grid_collection.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-grid with collection-based repository and ordering</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - ordered_grid_collection.html - START -->
            <vaadin-button on-click="collectionSimpleGridBean::addElements">Add some elements</vaadin-button>
            <!-- CODE BLOCK DEFINITION END -->
            <hr/>
            <!-- CODE BLOCK DEFINITION - ordered_grid_collection.html - START -->
            <vaadin-uibuilder-grid id="collection-based-grid" multi-sort>
                <item-data-source name="collectionOrderedDs"></item-data-source>
                <vaadin-grid-column>
                    <template class="header">
                        <vaadin-grid-sorter path="todo">Task</vaadin-grid-sorter>
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        <vaadin-grid-sorter path="deadline">Deadline</vaadin-grid-sorter>
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>ordered_grid_collection.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CollectionSimpleGridBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/ordered_grid_collection.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CollectionSimpleGridBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - ordered_grid_collection.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
