<!-- CODE BLOCK DEFINITION - simple_collection_grid_with_primitives.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">Uibuilder-grid with collection-based primitives</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_collection_grid_with_primitives.html - START -->
            <vaadin-uibuilder-grid id="primitives-collection-based-grid">
                <item-data-source name="primitivesCollectionDataSource"
                                  items="{{CollectionSimpleGridWithPrimitivesBean.stringList}}">
                </item-data-source>

                <vaadin-grid-column>
                    <template class="header">
                        Fruit
                    </template>
                    <template class="row-details">
                        {{item}}
                    </template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>simple_collection_grid_with_primitives.html</vaadin-tab>
            <vaadin-tab>CollectionSimpleGridWithPrimitivesBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_collection_grid_with_primitives.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CollectionSimpleGridWithPrimitivesBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_collection_grid_with_primitives.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
