<div id="testContainer">
    <uibuilder-combobox id="testElement" item-label-path="deadline">
        <data-source name="todoDS">
            <filter-option path="todo" filter="ilike" mode="starts-with"></filter-option>
            <filter-option path="deadline" filter=">="></filter-option>
        </data-source>
        <template>
            {{item.todo}}
        </template>
    </uibuilder-combobox>
</div>
