<div id="testContainer">
    <uibuilder-combobox id="testElement" item-label-path="deadline">
        <data-source name="todoDS">
            <default-filter-option filter="ilike" mode="ends-with"></default-filter-option>
            <default-filter-option filter="like" mode="contains"></default-filter-option>
        </data-source>
        <template>
            {{item.todo}}
        </template>
    </uibuilder-combobox>
</div>
