<!-- CODE BLOCK DEFINITION - filtered_tree_grid.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style include="example-filter-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder Tree grid with spring-data repository using filtering and sorting</h2>
        <div class="description">
            The <code>folderAndFileRepository</code> is a <code>CrudRepository</code> using <code>FolderAndFileEntity</code>,
            and is loaded from from a json file at the example app startup.<br/>
            This example page is using a custom style for the filter component.<br/><br/>
            &bullet; The tree grid functionality is achieved by using a <b>hierarchical</b> datasource.<br/>
            &bullet; In case of a database related datasource, it is hierarchical, when the <code>data-source</code> tag contains
            a <b>hierarchical</b> attribute.<br/>
            &bullet; The <code>hierarchical</code> attribute specifies the item's property, which has to be used to obtain the current item's
            parent item (<code>&lt;data-source name=&quot;hierarchicalDS&quot; hierarchical=&quot;parentProp&quot;&gt;</code>).<br/>
            &bullet; If the <code>hierarchical</code> attribute doesn't contain any value, the default property will be "<code>parent</code>",
            which will be used to obtain the current item's parent item.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - filtered_tree_grid.html - START -->
            <uibuilder-common-filter auto-search add-button-text="Add new filter">
                <data-source datasource-id="tree-folder-and-fileDS" name="todoDS"></data-source>
                <filter-types>
                    <filter-type label="Name" filter="name" operators='["like", "=", "in"]'></filter-type>
                    <filter-type label="Type" filter="folderOrFile"></filter-type>
                </filter-types>
            </uibuilder-common-filter>

            <vaadin-uibuilder-grid>
                <data-source datasource-id="tree-folder-and-fileDS" name="folderAndFileRepository"
                             hierarchical></data-source>
                <vaadin-grid-column>
                    <template class="header">
                        <vaadin-grid-sorter path="name">Name</vaadin-grid-sorter>
                    </template>
                    <template>
                        <vaadin-grid-tree-toggle>
                            {{item.name}}
                        </vaadin-grid-tree-toggle>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="8em">
                    <template class="header">Size</template>
                    <template>{{item.size}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column width="8em">
                    <template class="header">
                        <vaadin-grid-sorter path="folderOrFile">Type</vaadin-grid-sorter>
                    </template>
                    <template>{{item.folderOrFile}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>filtered_tree_grid.html</vaadin-tab>
            <vaadin-tab>FolderOrFile.java</vaadin-tab>
            <vaadin-tab>FolderAndFileEntity.java</vaadin-tab>
            <vaadin-tab>FolderAndFileRepository.java</vaadin-tab>
            <vaadin-tab>example-filter-theme.js</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/filtered_tree_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FolderOrFile.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FolderAndFileEntity.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FolderAndFileRepository.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/example-filter-theme.js">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - filtered_tree_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
