<uibuilder-page contextId="login-page">
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Admin-page</h2>
        This is a simple page which only visible for any user who has the `ADMIN` permission.
    </div>

</uibuilder-page>
