<!-- CODE BLOCK DEFINITION - custom_login.html - START -->
<uibuilder-page contextId="login-page">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <div class="content">
        <h2 part="header">Custom login with authorization</h2>
        <div class="description">
            After successful login, the login-panel will call the defined event handler (<code>on-success="customLoginController::login"</code>) and
            decide where to navigate according to the authenticated user (<i>admin</i> or <i>user</i> page).<br/>
            For detailed information see the <b>CustomLoginController.java</b> file.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - custom_login.html - START -->
            <uibuilder-login-panel id="login-panel" on-success="customLoginController::login"
                                   hide-default-login-failed-message>

                <vaadin-notification duration="5000" position="top-center">
                    <template>
                        <div>
                            <b>Authentication failed</b><br>
                            Username or password doesn't match.
                        </div>
                    </template>
                </vaadin-notification>

            </uibuilder-login-panel>
            <!-- CODE BLOCK DEFINITION END -->
            <div class="center">
                <vaadin-vertical-layout>
                    <br>
                    There are 2 predefined user in this example application,<br>
                    with the following username/password pairs:
                    <ul>
                        <li>admin/admin</li>
                        <li>user/user</li>
                    </ul>
                </vaadin-vertical-layout>
            </div>
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>custom_login.html</vaadin-tab>
            <vaadin-tab>CustomLoginController.java</vaadin-tab>
            <vaadin-tab>flow-definition.xml</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/custom_login.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/CustomLoginController.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html">
                    <script type="text/code">
                        <flow id="security" route="/login">
                            <flow id="simpleLogin" route="/simple" html="/webapp/security/simple_login.html" target="mainTarget"/>
                            <notAuthenticated fallbackId="userScreen">
                                <flow id="loginScreen" route="/custom" html="/webapp/security/custom_login.html" target="mainTarget"/>
                            </notAuthenticated>
                            <hasPermission permission="ADMIN" fallbackId="loginScreen">
                                <flow id="adminScreen" route="/admin" html="/webapp/security/admin.html" target="mainTarget"/>
                            </hasPermission>
                            <hasPermission permission="USER" fallbackId="loginScreen">
                                <flow id="onSucceedLogin" route="/on-succeed-login" html="/webapp/security/on-succeed-login.html" target="mainTarget"/>
                                <flow id="userScreen" route="/user" html="/webapp/security/user.html" target="mainTarget"/>
                                <flow id="securityDocumentation" route="security/documentation" html="/webapp/security/documentation.html" target="mainTarget" />
                            </hasPermission>
                        </flow>


                    </script>
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - custom_login.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
