<uibuilder-page contextId="login-page">
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Security</h2>
        To enable the authentication/authorization support in the framework you must add the following dependency to your project:

        <uibuilder-code-block>
            <script type="text/code">
                <dependency>
                    <groupId>io.devbench.uibuilder.core</groupId>
                    <artifactId>uibuilder-security-spring</artifactId>
                    <version>${project.version}</version>
                </dependency>
            </script>
        </uibuilder-code-block>

        Then you have to provide a Realm instance.

        <h2>Apache Shiro</h2>

        UIBuilder uses the <a href="https://shiro.apache.org/">Apache Shiro</a> framework for authorization and authentication.

        <h2>Conditionally visible elements</h2>

        In any HTML page you can use any of the following tags:

        <ul>
            <li>has-permission</li>
            <li>lacks-permission</li>
            <li>has-any-permission</li>
            <li>lacks-all-permission</li>
        </ul>

        The menu bar on this page is defined with the following code:

        <uibuilder-code-block>
            <script type="text/markdown">
                <has-any-permission name="USER, ADMIN">
                    <menu-item name="{{customLoginController.userMenuName}}" right>
                        <has-permission name="ADMIN">
                            <menu-item name="Admin page" on-activate="flow:adminScreen"></menu-item>
                        </has-permission>
                        <menu-item name="User page" on-activate="flow:userScreen"></menu-item>
                        <menu-item name="Documentation" on-activate="flow:securityDocumentation"></menu-item>
                        <menu-item name="Logout" on-activate="customLoginController::logout"></menu-item>
                    </menu-item>
                </has-any-permission>
            </script>
        </uibuilder-code-block>

        <h2>Conditionally accessible pages</h2>

        In the flow definition you can use the following xml tags:

        <ul>
            <li>authenticated</li>
            <li>notAuthenticated</li>
            <li>hasPermission</li>
        </ul>

        <h2>Conditionally accessible UIEvents</h2>

        Shiro's `RequiresPermissions` annotation can be used for authorization on the ControllerBeans or on the UIEventHandler methods.
    </div>
</uibuilder-page>
