<uibuilder-page contextId="login-page">
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Successful login!</h2>
        <div class="component">
        <p>The current page must be reloaded to make sure that the security tags are processed again and the dom has been modified correctly</p>
        <!-- CODE BLOCK DEFINITION - on-succeed-login.html - START -->
        <vaadin-button on-click="succeedLogin::reload">Click to reload this page</vaadin-button>
        <!-- CODE BLOCK DEFINITION END -->
        </div>

        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>on-succeed-login.html</vaadin-tab>
            <vaadin-tab>SucceedLoginControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/on-succeed-login.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/SucceedLoginControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>

</uibuilder-page>
