<!-- CODE BLOCK DEFINITION - simple_login.html - START -->
<uibuilder-page contextId="simple-login-page">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <div class="content">
        <h2 part="header">Simple login</h2>
        <div class="description">
            After successful login, the login-panel will navigate to the page defined by the <code>onSucceedLogin</code>.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_login.html - START -->
            <style type="text/css">
                #login-panel {
                    --login-image-width: 100px;
                    --login-image-height: 100px;
                }
            </style>

            <uibuilder-login-panel id="login-panel" image="static/login.png"
                                   on-success="flow:onSucceedLogin">
            </uibuilder-login-panel>
            <!-- CODE BLOCK DEFINITION END -->
            <div class="center">
                <vaadin-vertical-layout>
                    <br>
                    There are 2 predefined user in this example application,<br>
                    with the following username/password pairs:
                    <ul>
                        <li>admin/admin</li>
                        <li>user/user</li>
                    </ul>
                </vaadin-vertical-layout>
            </div>
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>simple_login.html</vaadin-tab>
            <vaadin-tab>SucceedLoginControllerBean.java</vaadin-tab>
            <vaadin-tab>flow_definition.xml</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_login.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/SucceedLoginControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html">
                    <script type="text/code">
                        <flow id="security" route="/login">
                            <flow id="simpleLogin" route="/simple" html="/webapp/security/simple_login.html" target="mainTarget"/>
                            <notAuthenticated fallbackId="userScreen">
                                <flow id="loginScreen" route="/custom" html="/webapp/security/custom_login.html" target="mainTarget"/>
                            </notAuthenticated>
                            <hasPermission permission="ADMIN" fallbackId="loginScreen">
                                <flow id="adminScreen" route="/admin" html="/webapp/security/admin.html" target="mainTarget"/>
                            </hasPermission>
                            <hasPermission permission="USER" fallbackId="loginScreen">
                                <flow id="onSucceedLogin" route="/on-succeed-login" html="/webapp/security/on-succeed-login.html" target="mainTarget"/>
                                <flow id="userScreen" route="/user" html="/webapp/security/user.html" target="mainTarget"/>
                                <flow id="securityDocumentation" route="security/documentation" html="/webapp/security/documentation.html" target="mainTarget" />
                            </hasPermission>
                        </flow>
                    </script>
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_login.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
