<uibuilder-page contextId="login-page">
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">User-page</h2>
        This is a simple page which only visible for any logged in user.
        <div>
            <vaadin-button on-click="customLoginController::showAdminNotification">Show notification for the Admin user</vaadin-button>
        </div>
    </div>

</uibuilder-page>
