<page>

    <outer is="outerElement">

        <grid id="outerGrid"></grid>
        <detail-panel id="outerDp">

            <grid id="innerGrid"></grid>
            <detail-panel id="innerDp"></detail-panel>

            <master-detail-controller id="innerMdc" master="innerGrid" detail="innerDp">
            </master-detail-controller>

        </detail-panel>

        <master-detail-controller id="outerMdc" master="outerGrid" detail="outerDp">
        </master-detail-controller>

    </outer>

</page>
