<page>

    <vaadin-combo-box id="cb"></vaadin-combo-box>
    <grid id="grid"></grid>

    <detail-panel id="dp"></detail-panel>

    <master-detail-controller id="mdc" master="grid" detail="dp" on-create="bean::create">
    </master-detail-controller>

    <master-detail-controller id="mdc-value" master="cb" detail="dp">
    </master-detail-controller>

    <master-detail-controller id="mdc-with-d-prop" master="grid" detail="dp" detail-property="customValue">
    </master-detail-controller>

</page>
