<!-- CODE BLOCK DEFINITION - menu_with_flow_navigation_default.html - START -->
<uibuilder-page>
    <h2 part="header">Default content</h2>
    This nested page is the default loaded page.
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
