<!-- CODE BLOCK DEFINITION - list_orders.html - START -->
<uibuilder-page>
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">List orders</h2>
        <vaadin-list-box>
            <vaadin-item>Order 1</vaadin-item>
            <vaadin-item disabled>Order 2</vaadin-item>
            <vaadin-item>Order 3</vaadin-item>
            <vaadin-item>Order 4</vaadin-item>
        </vaadin-list-box>
    </div>
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
