<uibuilder-page id="authenticatedTest">
    <authenticated>
        <div>Hello logged in user!</div>
    </authenticated>
    <div>Other content</div>
</uibuilder-page>

<uibuilder-page id="notAuthenticatedTest">
    <not-authenticated>
        <div>Hello logged in user!</div>
    </not-authenticated>
    <div>Other content</div>
</uibuilder-page>

<uibuilder-page id="hasRoleTest">
    <has-role name="admin">
        <div>Hello logged in user!</div>
    </has-role>
    <div>Other content</div>
</uibuilder-page>

<uibuilder-page id="hasAnyRoleTest">
    <has-any-role name="admin, developer, sys">
        <div>Hello logged in user!</div>
    </has-any-role>
    <div>Other content</div>
</uibuilder-page>

<uibuilder-page id="lackRoleTest">
    <lacks-role name="admin, developer, sys">
        <div>Hello logged in user!</div>
    </lacks-role>
    <div>Other content</div>
</uibuilder-page>

<uibuilder-page id="hasPermission">
    <has-permission name="printer:print:laserjet4400n">
        <div>Hello logged in user!</div>
    </has-permission>
    <div>Other content</div>
</uibuilder-page>

<uibuilder-page id="lackPermission">
    <lacks-permission name="printer:print:laserjet4400n">
        <div>Hello logged in user!</div>
    </lacks-permission>
    <div>Other content</div>
</uibuilder-page>

<uibuilder-page id="principal">
    <div>Hello <principal/> user!</div>
</uibuilder-page>

