<uibuilder-page>
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Nested menu</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - nested_menu.html - START -->
            <menu-bar>
                <menu-item id="orderManagement" name="Order management">
                    <menu-item id="listOrders" name="List orders"></menu-item>
                    <menu-item id="createNewOrder" name="Create new Order"></menu-item>
                </menu-item>
                <menu-item id="shipmentManagement" name="Shipments">
                    <menu-item id="scheduleShipment" name="Schedule a shipment"></menu-item>
                    <menu-item id="cancelShipment" name="Cancel Shipment" disabled="{{userPermissions}}"></menu-item>
                </menu-item>
                <menu-item id="administration" name="Administration">
                    <menu-item id="adminPermissions" name="Permissions">
                        <menu-item
                            id="getAdminPermissions"
                            name="Get Admin Permissions"
                            on-activate="getAdminPermissions"
                            disabled="{{adminPermissions}}"></menu-item>
                        <menu-item
                            id="getUserPermissions"
                            name="Get User Permissions"
                            on-activate="getUserPermissions"
                            disabled="{{userPermissions}}"></menu-item>
                    </menu-item>
                </menu-item>
                <menu-item name="User" right>
                    <menu-item name="Login"></menu-item>
                    <menu-item name="Other setting">
                        <menu-item name="Preferences"></menu-item>
                        <menu-item name="User settings" disabled></menu-item>
                        <menu-item name="Clear settings"></menu-item>
                    </menu-item>
                    <hr/>
                    <menu-item name="Exit"></menu-item>
                </menu-item>
            </menu-bar>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>nested_menu.html</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/nested_menu.html">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <script>
        var domBind = document.querySelector('uibuilder-dom-bind');
        domBind.userPermissions = true;
        domBind.adminPermissions = false;
        domBind.getAdminPermissions = () => {
            domBind.userPermissions = false;
            domBind.adminPermissions = true;
        };

        domBind.getUserPermissions = () => {
            domBind.userPermissions = true;
            domBind.adminPermissions = false;
        };
    </script>
</uibuilder-page>
