<!-- CODE BLOCK DEFINITION - simple_menu_with_theme.html - START -->
<script type="module" src="/example/simple-menu-theme.js"></script>
<!-- CODE BLOCK DEFINITION END -->

<uibuilder-page>
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Simple menu</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_menu_with_theme.html - START -->
            <menu-bar>
                <menu-item id="listOrders" name="List orders"></menu-item>
                <menu-item id="createNewOrder" name="Create new Order"></menu-item>
                <menu-item id="shipAnOrder" name="Ship an order" theme="fancy"></menu-item>
                <menu-item id="disabled" name="Disabled menu item" disabled></menu-item>
            </menu-bar>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>simple_menu_with_theme.html</vaadin-tab>
            <vaadin-tab>simple-menu-theme.js</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_menu_with_theme.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="js" href="static/code-blocks/simple_menu_theme.js">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
</uibuilder-page>
