<!-- CODE BLOCK DEFINITION - vaadin_menu.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Simple menu</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - vaadin_menu.html - START -->
            <vaadin-menu-bar open-on-hover on-item-selected="vaadinMenuController::menuItemSelected"></vaadin-menu-bar>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>vaadin_menu.html</vaadin-tab>
            <vaadin-tab>VaadinMenuControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/vaadin_menu.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/VaadinMenuControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - vaadin_menu.html - START -->
    <script>
        (() => {
            const menu = document.querySelector('vaadin-menu-bar');
            menu.items = [
                {
                    text: 'Order management',
                    children: [
                        {
                            text: 'List orders',
                            id: 'list_orders'

                        },
                        {
                            text: 'Create new Order',
                            id: 'create_new_order'
                        }
                    ]
                },
                {
                    text: 'Shipments',
                    children: [
                        {
                            text: 'Schedule a shipment',
                            id: 'schedule_shipment'
                        },
                        {
                            text: 'Cancel Shipment',
                            id: 'cancel_shipment',
                        }
                    ]
                },
                {
                    text: 'Administration',
                    children: [
                        {
                            text: 'Permissions',
                            children: [
                                {
                                    text: 'Admin Permissions',
                                    id: 'admin_persmissions',
                                    disabled: true
                                },
                                {
                                    text: 'User Permissions',
                                    id: 'user_permissions'
                                }
                            ]
                        }
                    ]
                }
            ];
        })();
    </script>
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
