<!-- CODE BLOCK DEFINITION - urlparameters_base.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Event handler with @UIComponent</h2>
        <div class="description">
            The <span class="code">&lt;uibuilder-page id=&quot;parameterTarget&quot;&gt;&lt;/uibuilder-page&gt;</span> contains the
            target page into which the detail will be rendered.<br/>
            The default content is defined in the <span class="code">flow-definition.xml</span> in the encapsulating
            <span class="code">flow</span> tag's <span class="code">html</span> attribute.<br/><br/>
            The detail functionality:<br/>
            &bullet; The <b>Next</b> button will search for the next item in the database to show.<br/>
            &bullet; The <b>Previous</b> button will show the previously showed item, if it was loaded with the <b>Next</b> button.<br/>
            &bullet; The <b>Back</b> button will return to the page containing the list of the items.<br/>
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - urlparameters_base.html - START -->
            <uibuilder-page id="parameterTarget"></uibuilder-page>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>base.html</vaadin-tab>
            <vaadin-tab>urlparameters_todo_detail.html</vaadin-tab>
            <vaadin-tab>urlparameters_todo_list.html</vaadin-tab>
            <vaadin-tab>flow-definition.xml</vaadin-tab>
            <vaadin-tab>FlowParameterControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block href="static/code-blocks/urlparameters_base.html" lang="html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block href="static/code-blocks/urlparameters_todo_detail.html" lang="html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block href="static/code-blocks/urlparameters_todo_list.html" lang="html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html">
                    <script type="text/code">
                        <flows>
                            <flow id="urlParameters" route="/url-parameters" html="base.html">
                                <flow id="todoListForParameters" route="/todos" html="list.html" target="parameterTarget" />
                                <flow id="todoDetails" route="/todos/{item-id}" html="detail.html" target="parameterTarget" />
                            </flow>
                        </flows>
                    </script>
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FlowParameterControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - urlparameters_base.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
