<!-- CODE BLOCK DEFINITION - urlparameters_todo_list.html - START -->
<uibuilder-page>
    <div>
        <vaadin-button on-click="flowParameterControllerBean::seeDetailsOfSelectedItem" theme="primary">
            See the details
        </vaadin-button>

        <vaadin-button on-click="flowParameterControllerBean::seeIdOfSelectedItem" theme="primary">
            See the ID
        </vaadin-button>
    </div>

    <div>
        <vaadin-uibuilder-grid id="todo-grid">
            <data-source name="todoDS"></data-source>
            <vaadin-grid-column>
                <template class="header">
                    Task
                </template>
                <template>{{item.todo}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    Deadline
                </template>
                <template>{{item.deadline}}</template>
            </vaadin-grid-column>
        </vaadin-uibuilder-grid>
    </div>

</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
