<!-- CODE BLOCK DEFINITION - urlparameters_todo_detail.html - START -->
<uibuilder-page on-before-load="flowParameterControllerBean::beforeLoad">
    <div>
        <h2>{{flowParameterControllerBean.todoItem.todo}}</h2>
        <vaadin-button on-click="flow:todoListForParameters" theme="primary">
            Back
        </vaadin-button>
        <vaadin-button on-click="flowParameterControllerBean::seePreviousTodoDetail" theme="primary">
            Previous
        </vaadin-button>
        <vaadin-button on-click="flowParameterControllerBean::seeNextTodoDetail" theme="primary">
            Next
        </vaadin-button>
        <ul style="list-style-type:none">
            <li><strong>Todo:</strong> {{flowParameterControllerBean.todoItem.todo}}</li>
            <li><strong>Deadline:</strong> {{flowParameterControllerBean.todoItem.deadline}}</li>
        </ul>
    </div>
    <div>
        <h4>Reminders</h4>
        <vaadin-uibuilder-grid id="todo-grid">
            <item-data-source name="reminderDs" items="{{flowParameterControllerBean.todoItem.reminders}}"></item-data-source>
            <vaadin-grid-column>
                <template class="header">
                    Text
                </template>
                <template>{{item.text}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    Alert on
                </template>
                <template>{{item.alertOnDay}}</template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    Priority
                </template>
                <template>{{item.priority}}</template>
            </vaadin-grid-column>
        </vaadin-uibuilder-grid>
    </div>

</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
