<!-- CODE BLOCK DEFINITION - simple_window.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Simple window</h2>
        <div class="description">
            Clicking on the button will open a window, which has a handler bound to the close event.<br/>
            The button's <b>click</b> event is attached to a <u>javascript function</u> which will open the
            <code>uibuilder-window</code> on client side (<i>by settings the <code>opened</code> property to <code>true</code></i>)
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_window.html - START -->
            <vaadin-button on-click="openExampleWindow" theme="primary">Click me!</vaadin-button>
            <uibuilder-window id="example_window_001" header-text="Hi, I'm a window"
                              style="width: 530px;" resize="none" on-close="windowController::windowOnClose" closeable>
                <div style="text-align: left; padding: 0.7em">
                    <div>Configure this window:</div>
                    <vaadin-combo-box label="Resize" on-change="onWindowResizeChange" style="display: block"
                                      value="none"
                                      items='["none", "vertical", "horizontal", "both"]'></vaadin-combo-box>
                    <vaadin-checkbox on-change="onWindowCloseableChange" checked>Closeable</vaadin-checkbox>
                </div>
            </uibuilder-window>
            <vaadin-notification id="notification">
                <template>
                    The editor window is closed!
                </template>
            </vaadin-notification>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{selectedPageIdx}}">
            <vaadin-tab>simple_window.html</vaadin-tab>
            <vaadin-tab>WindowControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[selectedPageIdx]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_window.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/WindowControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_window.html - START -->
    <script>
        Object.assign(document.querySelector('uibuilder-dom-bind'), {
            openExampleWindow() {
                document.querySelector('#example_window_001').opened = true;
            },
            onWindowResizeChange(event) {
                document.querySelector('#example_window_001').resize = event.target.value;
            },
            onWindowCloseableChange(event) {
                document.querySelector('#example_window_001').closeable = event.target.checked;
            }
        });
    </script>

</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
