<!-- CODE BLOCK DEFINITION - cb_with_default_selection.html - START -->
<uibuilder-page on-after-load="comboboxWithDefaultSelectionControllerBean::afterLoad">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Combobox default selection</h2>
        <div class="description">
            The default selection for a combobox after the page load can be
            achieved using the page <code>on-after-load</code> event.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - cb_with_default_selection.html - START -->
            <uibuilder-combobox id="comboboxWithDefaultValue" item-label-path="todo" style="width: 300px;">
                <data-source name="todoDS"></data-source>
                <template>
                    {{item.todo}} by {{item.deadline}}
                </template>
            </uibuilder-combobox>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>cb_with_default_selection.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ComboboxWithDefaultSelectionControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/cb_with_default_selection.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ComboboxWithDefaultSelectionControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - cb_with_default_selection.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
