<!-- CODE BLOCK DEFINITION - combobox_event_handling.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Combobox with event handling</h2>
        <div class="description">
            A notification popup occurs when the combobox item has been changed.
            See <code>ComboboxEventHandlingControllerBean</code> class and the <code>selectedItemChanged</code> method for the details.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - combobox_event_handling.html - START -->
            <uibuilder-combobox label="Selected Item Changed Example" item-label-path="todo"
                                on-item-changed="comboboxEventHandlingControllerBean::selectedItemChanged"
                                style="width: 300px;">
                <data-source name="todoDS"></data-source>
                <template>
                    {{item.todo}} by {{item.deadline}}
                </template>
            </uibuilder-combobox>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>Item change</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ComboboxEventHandlingControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html"
                                      href="static/code-blocks/combobox_event_handling.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java"
                                      href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java"
                                      href="static/code-blocks/ComboboxEventHandlingControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - combobox_event_handling.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
