<!-- CODE BLOCK DEFINITION - null_values_disabled_combobox.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">UIBuilder Combobox with null-values-disabled attribute</h2>
        <div class="description">
            Using the <code>null-values-disabled</code> attribute with the combobox:<br/>
            &bullet; <code>X</code> button and it's clear function has been removed.<br/>
            &bullet; You cannot set null as a value neither from frontend, nor from backend.<br/>
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - null_values_disabled_combobox.html - START -->
            <uibuilder-combobox item-label-path="todo" style="width: 300px;" null-values-disabled>
                <data-source name="todoDS"></data-source>
                <template>
                    {{item.todo}} by {{item.deadline}}
                </template>
            </uibuilder-combobox>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>null_values_disabled_combobox.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/null_values_disabled_combobox.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - null_values_disabled_combobox.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
