/*
 *
 * Copyright © 2018 Webvalto Ltd.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

:root {
    --any-left-padding: 12px;
}

.filter-row {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

.warning-indicator {
    background-color: #fffae3;
}

.error-indicator {
    background-color: var(--lumo-error-color-10pct) !important;
}

.row-content {
    width: 100%;
    overflow: auto;
    align-items: center;
}

.label-component {
    width: 30%;
    min-width: 150px;
}

.operators-component {
    width: 10%;
    min-width: 100px;
}

.filter-component-holder {
    width: 60%;
    min-width: 200px;
}

.filter-component {
    display: table;
    width: 100%;
}

.remove-button {
    margin-left: 1em;
    margin-right: 1em;
}

.add-button {
    display: table-cell;
    width: 40px;
}

.component-container {
    display: table-cell;
}

.removable-component {
    display: inline;
    margin-left: var(--any-left-padding);
}

.removable-component.removable-component-full:first-child {
    margin-left: 0;
}

.removable-component.removable-component-50:first-child {
    margin-left: 0;
}

.removable-component-full *:first-child {
    width: 100%;
}

.removable-component-50 *:first-child {
    width: calc(50% - (var(--any-left-padding)/2));
}
