<!-- CODE BLOCK DEFINITION - simple_collection_combobox.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Combobox with spring-data repository</h2>
        <div class="description">
            <ul>
                <li>Using a collection for the combobox is just like same with the grid, add the <code>&lt;item-data-source&gt;</code>
                    tag with the needed attributes (and a binding using the <code>items</code> attribute).
                </li>
                <li>Also demonstrating the use of <code>UIComponent</code> controller bean field injection
                    (<i>field injection must always be done with <code>javax.inject.Provider</code> or spring's <code>ObjectProvider</code></i>)
                </li>
                <li>The <code>Toggle Invalid</code> button demonstrates how to change the field
                    validity flag and the error message from the backend.
                </li>
            </ul>

        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_collection_combobox.html - START -->

            <vaadin-text-field label="Last added todo item name" value="{{simpleTodoItemCb.lastAddedItemName}}"></vaadin-text-field>
            <uibuilder-combobox id="itemsCombobox" item-label-path="todo" style="width: 300px;">
                <item-data-source name="itemTodoDS" items="{{simpleTodoItemCb.todoItems}}"></item-data-source>
                <template>
                    {{item.todo}} by {{item.deadline}}
                </template>
            </uibuilder-combobox>

            <vaadin-button on-click="simpleTodoItemCb::modify">Modify</vaadin-button>
            <vaadin-button on-click="simpleTodoItemCb::refresh">Refresh</vaadin-button>
            <vaadin-button on-click="simpleTodoItemCb::toggleInvalid">Toggle invalid</vaadin-button>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_db_combobox.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>SimpleTodoItemCollectionControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_db_combobox.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/SimpleTodoItemCollectionControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_collection_combobox.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
