<!-- CODE BLOCK DEFINITION - crud_panel_reminder.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder CRUD panel (<i>Reminder</i>)</h2>
        <div class="description">
            The example demonstrates that using <code>crud-panel</code> you can eliminate the need for defining the MDC related
            component ID's (<i>also for the <code>crud-toolbar</code></i>).<br/>
            The <code>crud-panel</code> generates the MDC with automatically linked components.<br/>
            This example contains an additional combobox in the detail component with a different datasource where the selected item is connected to a parent property (<code>item-bind="selected:todoItem"</code>).
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - crud_panel_reminder.html - START -->
            <crud-panel controller-bean="mdcReminderCrudBean" orientation="horizontal" show-border has-separator>
                <vaadin-uibuilder-grid>
                    <vaadin-grid-column>
                        <template class="header">Reminder text</template>
                        <template>{{item.text}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel>
                    <vaadin-text-field label="Reminder text" item-bind="text"></vaadin-text-field>
                    <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                    <vaadin-date-picker label="Alert on" item-bind="alertOnDay"></vaadin-date-picker>

                    <uibuilder-combobox id="activeTodoCb" item-label-path="todo" item-bind="selected:todoItem">
                        <data-source name="todoDS"></data-source>
                        <template>{{item.todo}}</template>
                    </uibuilder-combobox>

                </detail-panel>

                <data-source name="remItemDS"></data-source>

            </crud-panel>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>crud_panel_reminder.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcReminderCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/crud_panel_reminder.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcReminderCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - crud_panel_reminder.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
