<!-- CODE BLOCK DEFINITION - crud_panel_editor_window.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder simple CRUD panel with editor window</h2>
        <div class="description">
            The example demonstrates that using <code>crud-panel</code> you can eliminate the need for defining the MDC related
            component ID's.<br/>
            The <code>crud-panel</code> generates the MDC with automatically linked components.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - crud_panel_editor_window.html - START -->
            <crud-panel controller-bean="mdcSimpleCrudBean">

                <data-source name="todoDS"></data-source>

                <crud-toolbar></crud-toolbar>

                <vaadin-uibuilder-grid>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <uibuilder-editor-window header-text="Todo item details">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                </uibuilder-editor-window>

            </crud-panel>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>crud_panel_editor_window.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/crud_panel_editor_window.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - crud_panel_editor_window.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
