<!-- CODE BLOCK DEFINITION - nested_inline_editable_crud_panel.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder nested CRUD panel</h2>
        <div class="description">
            <ul>
                <li>
                    This example is similar to the <code>Nested crud panel</code> example page with the difference, that the nested grid is inline editable,
                    with an additional <code>item-predicate</code> supplier, which is intended to decide which item is editable
                </li>
                <li>
                    In this example, that <code>ReminderItem</code>, which contains text that ends with <b>"2"</b> is unable to be inline edited. However, it
                    can be selected, thus modified by the detail panel.
                </li>
                <li>
                    Using nested grid with inline edit functionality inside a crud-panel will enable additional generic controller beans and handler methods,
                    for example when a nested grid's item has been inline edited, the save will mark the linked detail panel as dirty if the currently edited
                    item is assigned to that detail panel, or if not, the parent crud-panel will be notified, that a nested element has some modifications,
                    and that will automatically make the related form to validate and update control button states (<i>for example, enable the save button</i>).
                </li>
            </ul>

        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - nested_inline_editable_crud_panel.html - START -->
            <crud-panel id="cp" controller-bean="mdcCrudPanelCrudBean"
                        has-separator master-percent="30"
                        manage-nested>

                <data-source name="todoDS"></data-source>

                <crud-toolbar icons-only all-theme="small icon"></crud-toolbar>

                <uibuilder-common-filter>
                    <filter-types>
                        <filter-type label="Todo item" filter="todo"></filter-type>
                        <filter-type label="Deadline" filter="deadline"></filter-type>
                    </filter-types>
                </uibuilder-common-filter>

                <vaadin-uibuilder-grid>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel>
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                    <hr/>

                    <crud-panel id="reminder-cp"
                                item-supplier="{{mdcCrudPanelCrudBean.reminderItemSupplier}}"
                                on-save="mdcCrudPanelCrudBean::onSaveReminderItemByCrudPanel"
                                has-separator master-percent="60">

                        <item-data-source name="reminderDS"></item-data-source>

                        <crud-toolbar icons-only all-theme="small icon"></crud-toolbar>

                        <vaadin-uibuilder-grid item-bind="items:reminders"
                                               item-predicate="{{reminderInlineEditor.reminderItemPredicateSupplier}}">
                            <vaadin-grid-column width="84px" flex-grow="0">
                                <template>
                                    <uibuilder-item-editable default-buttons></uibuilder-item-editable>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">Text</template>
                                <template>
                                    <uibuilder-item-editable path="text" default-editor></uibuilder-item-editable>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">Alert on day</template>
                                <template>
                                    <uibuilder-item-editable path="alertOnDay">
                                        <vaadin-date-picker slot="edit"
                                                            value="{{item.alertOnDay}}"
                                                            default-event-handler
                                                            default-validator></vaadin-date-picker>
                                    </uibuilder-item-editable>
                                </template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">Priority</template>
                                <template>
                                    <uibuilder-item-editable path="priority" default-editor></uibuilder-item-editable>
                                </template>
                            </vaadin-grid-column>
                        </vaadin-uibuilder-grid>

                        <detail-panel legend="Reminder">
                            <vaadin-text-field label="Text" item-bind="text"></vaadin-text-field>
                            <vaadin-date-picker label="Alert day" item-bind="alertOnDay"></vaadin-date-picker>
                            <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                        </detail-panel>
                    </crud-panel>

                </detail-panel>

            </crud-panel>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>nested_inline_editable_crud_panel.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcCrudPanelCrudControllerBean.java</vaadin-tab>
            <vaadin-tab>ReminderItemInlineEditorControllerBean.java</vaadin-tab>

        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/nested_inline_editable_crud_panel.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcCrudPanelCrudControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemInlineEditorControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - nested_inline_editable_crud_panel.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
