<!-- CODE BLOCK DEFINITION - nested_crud_panel.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder nested CRUD panel</h2>
        <div class="description">
            <ul>
                <li>
                    The example demonstrates that using <code>crud-panel</code> you can eliminate the need for defining the MDC related
                    component ID's (<i>also for the <code>crud-toolbar</code></i>).
                </li>
                <li>
                    The <code>crud-panel</code> generates the MDC with automatically linked components.
                </li>
                <li>
                    This example contains a pretty complex nested <code>crud-panel</code> with additional <code>confirm-dialog</code>, which also
                    gets generated to the right place in the <b>MDC</b>.
                </li>
                <li>
                    The example shows that the <i>inner</i> MDC's master items are received
                    from the <i>outer</i> MDC's selected item with the <code>item-bind="items:reminders"</code> property binding mode.<br/>
                    This binding can be placed directly on the master component itself (which is the <code>vaadin-uibuilder-grid</code> in the
                    current case), or on the <code>item-data-source</code> (as this example shows).
                </li>
                <li>
                    Furthermore, the nested <code>crud-panel</code> doesn't use the <code>controller-bean</code> attribute, instead, it just specifies
                    one individual event handler with the <code>on-save</code> attribute.<br/>
                    The attribute "<code>manage-nested</code>" will remove the form controls of the nested <code>crud-panel</code>'s detail component and
                    handle the changes along with the parent <b>MDC</b>.
                </li>
            </ul>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - nested_crud_panel.html - START -->
            <crud-panel id="cp" controller-bean="mdcCrudPanelCrudBean" manage-nested>

                <data-source name="todoDS"></data-source>

                <crud-toolbar></crud-toolbar>

                <uibuilder-common-filter>
                    <filter-types>
                        <filter-type label="Todo item" filter="todo"></filter-type>
                        <filter-type label="Deadline" filter="deadline"></filter-type>
                    </filter-types>
                </uibuilder-common-filter>

                <vaadin-uibuilder-grid>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel>
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                    <crud-panel id="reminder-cp"
                                item-supplier="{{mdcCrudPanelCrudBean.reminderItemSupplier}}"
                                on-save="mdcCrudPanelCrudBean::onSaveReminderItemByCrudPanel"
                                has-separator master-percent="60">

                        <item-data-source name="reminderDS" item-bind="items:reminders"></item-data-source>

                        <vaadin-uibuilder-grid>
                            <vaadin-grid-column>
                                <template class="header">Text</template>
                                <template>{{item.text}}</template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">Alert on day</template>
                                <template>{{item.alertOnDay}}</template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">Priority</template>
                                <template>{{item.priority}}</template>
                            </vaadin-grid-column>
                        </vaadin-uibuilder-grid>

                        <detail-panel legend="Reminder">
                            <vaadin-text-field label="Text" item-bind="text"></vaadin-text-field>
                            <vaadin-date-picker label="Alert day" item-bind="alertOnDay"></vaadin-date-picker>
                            <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                        </detail-panel>

                        <confirm-dialog observed-event="save" header-text="Really save?">Do you really want to save the changes?</confirm-dialog>

                        <crud-toolbar></crud-toolbar>
                    </crud-panel>

                </detail-panel>

            </crud-panel>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>nested_crud_panel.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
            <vaadin-tab>MdcNestedCrudControllerBean.java</vaadin-tab>
            <vaadin-tab>MdcCrudPanelCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/nested_crud_panel.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcNestedCrudControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcCrudPanelCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - nested_crud_panel.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
