<!-- CODE BLOCK DEFINITION - before_load_event_handling.html - START -->
<uibuilder-page on-before-load="beforeLoadEventHandler::beforeLoad">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <div class="content">
        <h2 part="header">Before-load event handling</h2>
        <div class="description">
            &bullet; It runs before the content rendering begins, and it can brakes the rendering.<br/>
        </div>
        <vaadin-tabs selected="{{page}}">
            <vaadin-tab>before_load_event_handling.html</vaadin-tab>
            <vaadin-tab>BeforeLoadEventHandlerControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/before_load_event_handling.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/BeforeLoadEventHandlerControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - before_load_event_handling.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
