<!-- CODE BLOCK DEFINITION - event_handling_with_binding.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Event handler with bound checkbox</h2>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - event_handling_with_binding.html - START -->
            <uibuilder-checkbox checked="{{eventHandlerWithBinding.buttonDisabled}}">
                Button disabled
            </uibuilder-checkbox>
            <br/>
            <vaadin-button disabled$="{{eventHandlerWithBinding.buttonDisabled}}" on-click="eventHandlerWithBinding::disabledButton">
                Disable me
            </vaadin-button>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>event_handling_with_binding.html</vaadin-tab>
            <vaadin-tab>EventHandlerWithBindingControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/event_handling_with_binding.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/EventHandlerWithBindingControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - event_handling_with_binding.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
