<script type="module" src="/example/example-filter-theme.js"></script>
<script type="module" src="/example/example-page-style.js"></script>

<uibuilder-page>
    <style>
        #main menu-item {
            font-size: 14px;
        }

        #homeItem {
            font-size: 18px;
        }
    </style>

    <dom-module id="bigger_font_for_menu_item" theme-for="menu-item">
        <template>
            <style>
                :host([theme~='bigger']) [part='title'] {
                    font-weight: bold;
                    font-size: 24px;
                    display: block;
                    position: relative;
                    top: -9px;
                }
                :host([theme~='bigger']) [part='button'] {
                    height: 20px;
                }
            </style>
        </template>
    </dom-module>

    <menu-bar id="main">
        <menu-item id="homeItem" name="&#8962;" title="Home page" theme="bigger" on-activate="flow:welcome"></menu-item>
        <menu-item id="main/menu" name="Menu">
            <menu-item id="main/menu/simple" name="Simple Menu" on-activate="flow:menuSimple"></menu-item>
            <menu-item id="main/menu/simple_themed" name="Simple Menu With Theme" on-activate="flow:menuSimpleThemed"></menu-item>
            <menu-item id="main/menu/nested" name="Nested Menu" on-activate="flow:menuNested"></menu-item>
            <menu-item id="main/menu/navigation" name="Menu with Flow Navigation" on-activate="flow:flowNavigationExampleTarget"></menu-item>
            <menu-item id="main/menu/vaadin" name="Vaadin Menu" on-activate="flow:menuVaadin"></menu-item>
        </menu-item>
        <menu-item name="Events / binding">
            <menu-item id="event_handler_example" name="Event Handler" on-activate="flow:eventHandlerExample"></menu-item>
            <menu-item id="event_handler_with_binding_example" name="Event Handler with binding" on-activate="flow:eventHandlerWithBindingExample"></menu-item>
            <menu-item name="Page Event Handling">
                <menu-item id="after_load_event_handler_example" name="After Load Event Handling" on-activate="flow:afterLoadEventHandler"></menu-item>
                <menu-item id="before_load_event_handler_example" name="Before Load Event Handling" on-activate="flow:beforeLoadEventHandler"></menu-item>
                <menu-item id="unload_event_handler_example" name="Unload Event Handling" on-activate="flow:unloadEventHandler"></menu-item>
            </menu-item>
        </menu-item>
        <menu-item id="static_files_example" name="Static resource" on-activate="flow:staticFiles"></menu-item>
        <menu-item id="url_parameters_example" name="Flow Parameters" on-activate="flow:todoListForParameters"></menu-item>
        <menu-item id="page_scope_example" name="Page Scope" on-activate="flow:pageScopeExample"></menu-item>
        <menu-item name="Window">
            <menu-item id="window_example" name="Simple window" on-activate="flow:windowExample"></menu-item>
            <menu-item name="Window in window" on-activate="flow:windowInWindow"></menu-item>
        </menu-item>
        <menu-item name="Grid">
            <menu-item name="Database-based">
                <menu-item name="Simple Grid" on-activate="flow:simpleGrid"></menu-item>
                <menu-item name="Datasource Repo Multiple BindingContext"
                           on-activate="flow:datasourceRepoMultipleBindingContext"></menu-item>
                <menu-item name="Datasource Instance Shared Between Components"
                           on-activate="flow:datasourceInstanceSharedBetweenComponents"></menu-item>
                <menu-item name="Filtered Grid" on-activate="flow:filteredDbGrid"></menu-item>
                <menu-item name="Default Query" on-activate="flow:dataSourceDefaultQueryGrid"></menu-item>
                <menu-item name="With default selection" on-activate="flow:defaultSelectedDbGrid"></menu-item>
                <menu-item name="Dynamic Grid" on-activate="flow:dynamicGrid"></menu-item>
                <menu-item name="Ordered grid with default order"
                           on-activate="flow:simpleGridWithDefaultOrder"></menu-item>
            </menu-item>
            <menu-item name="Collection-based">
                <menu-item name="Simple Grid" on-activate="flow:collectionSimpleGrid"></menu-item>
                <menu-item name="Multi Select" on-activate="flow:collectionMultiSelectGrid"></menu-item>
                <menu-item name="Ordering" on-activate="flow:collectionOrderedGrid"></menu-item>
                <menu-item name="Filters" on-activate="flow:collectionFilteredGrid"></menu-item>
                <menu-item name="Column filters" on-activate="flow:collectionColumnFilteredGrid"></menu-item>
                <menu-item name="Default Filters" on-activate="flow:collectionGridWithDefaultFiltered"></menu-item>
                <menu-item name="Item binding" on-activate="flow:collectionGridWithItemBinding"></menu-item>
                <menu-item name="Primitives" on-activate="flow:collectionGridWithPrimitives"></menu-item>
                <menu-item name="Double Click" on-activate="flow:collectionGridDoubleClick"></menu-item>
            </menu-item>
            <menu-item name="Inline editable">
                <menu-item name="Simple Inline Editable Grid" on-activate="flow:simpleInlineEditableGrid"></menu-item>
            </menu-item>
        </menu-item>
        <menu-item name="TreeGrid">
            <menu-item name="Database-based">
                <menu-item name="Simple TreeGrid" on-activate="flow:simpleTreeGrid"></menu-item>
                <menu-item name="Ordered TreeGrid" on-activate="flow:orderedTreeGrid"></menu-item>
                <menu-item name="Filtered TreeGrid" on-activate="flow:filteredTreeGrid"></menu-item>
            </menu-item>
            <menu-item name="Collection-based">
                <menu-item name="Simple TreeGrid" on-activate="flow:simpleCollectionTreeGrid"></menu-item>
            </menu-item>
        </menu-item>
        <menu-item name="Combobox">
            <menu-item name="Database-based">
                <menu-item name="Simple Combobox" on-activate="flow:simpleDbCombobox"></menu-item>
                <menu-item name="Combobox event handling" on-activate="flow:eventHandling"></menu-item>
                <menu-item name="Backend driven selection example" on-activate="flow:dbComboboxBackendListener"></menu-item>
                <menu-item name="With default selection" on-activate="flow:comboBoxWithDefaultSelection"></menu-item>
                <menu-item name="Null values disabled example" on-activate="flow:nullValuesDisabledCombobox"></menu-item>
            </menu-item>
            <menu-item name="Collection-based">
                <menu-item name="Simple Combobox" on-activate="flow:simpleCollectionCombobox"></menu-item>
            </menu-item>
        </menu-item>
        <menu-item name="Form">
            <menu-item name="Simple Form" on-activate="flow:exampleForm"></menu-item>
            <menu-item name="Simple Form (changed-only validation)" on-activate="flow:exampleFormChangedOnly"></menu-item>
            <menu-item name="Simple Form (unreachable property)" on-activate="flow:exampleFormUnreachableProperty"></menu-item>
            <menu-item name="Nested Form" on-activate="flow:exampleNestedForm"></menu-item>
            <menu-item name="Multi value">
                <menu-item name="Simple multi-value example" on-activate="flow:exampleMultiValueForm"></menu-item>
                <menu-item name="Multi-value with primitives" on-activate="flow:exampleMultiValuePrimitiveForm"></menu-item>
                <menu-item name="Multi-value with bean items" on-activate="flow:exampleMultiValueBeanItemForm"></menu-item>
            </menu-item>
            <menu-item name="Simple form with rich text editor" on-activate="flow:exampleFormRichText"></menu-item>
            <menu-item name="Simple form with rich text editor and markdown formatter" on-activate="flow:exampleFormRichTextMd"></menu-item>
            <menu-item name="Simple form with rich text editor in delta value mode" on-activate="flow:exampleFormRichTextDelta"></menu-item>
        </menu-item>
        <menu-item name="MDC" title="Master Detail Controller">
            <menu-item name="Simple">
                <menu-item name="Simple MDC (html only)" on-activate="flow:exampleMdc"></menu-item>
                <menu-item name="Simple MDC DateTime" on-activate="flow:exampleMdcDateTime"></menu-item>
                <menu-item name="Simple MDC with CRUD controller bean" on-activate="flow:exampleMdcCrud"></menu-item>
                <menu-item name="Simple MDC with customized CrudToolbar" on-activate="flow:exampleMdcCustomizedCrud"></menu-item>
                <menu-item name="Simple MDC with CRUD controller bean (Reminder)" on-activate="flow:exampleMdcCrudReminder"></menu-item>
            </menu-item>
            <menu-item name="Nested">
                <menu-item name="Nested MDC (html only)" on-activate="flow:exampleNestedMdc"></menu-item>
                <menu-item name="Nested MDC with CRUD controller bean" on-activate="flow:exampleNestedMdcCrud"></menu-item>
                <menu-item name="Nested MDC with CRUD controller bean and ComboBox" on-activate="flow:exampleNestedMdcCrudCb"></menu-item>
            </menu-item>
            <menu-item name="With ComboBox as master" on-activate="flow:exampleCbMdc"></menu-item>
            <menu-item name="With interruptable method" on-activate="flow:exampleIntMdc"></menu-item>
            <menu-item name="With confirm dialog" on-activate="flow:exampleConfirmMdc"></menu-item>
            <menu-item name="Using combobox with primitives" on-activate="flow:examplePrimitiveMdc"></menu-item>
        </menu-item>
        <menu-item name="Crud panel">
            <menu-item name="Simple horizontal crud panel" on-activate="flow:exampleCrudPanelHoriz"></menu-item>
            <menu-item name="Simple crud panel with editor window" on-activate="flow:exampleCrudPanelEditorWindow"></menu-item>
            <menu-item name="Simple crud panel (reminder)" on-activate="flow:exampleCrudPanelReminder"></menu-item>
            <menu-item name="Nested crud panel" on-activate="flow:exampleCrudPanel"></menu-item>
            <menu-item name="Nested crud panel with inline edit" on-activate="flow:exampleCrudPanelNestedInline"></menu-item>
            <menu-item name="With separator and master percent" on-activate="flow:exampleCrudPanelWithSeparator"></menu-item>
        </menu-item>
        <menu-item name="Calendar" on-activate="flow:calendar"></menu-item>
        <menu-item name="Login" right>
            <menu-item id="simple-login" name="Simple login" on-activate="flow:simpleLogin" right></menu-item>
            <lacks-all-permission name="USER, ADMIN">
                <menu-item name="Custom login" on-activate="flow:loginScreen" right></menu-item>
            </lacks-all-permission>
            <has-any-permission name="USER, ADMIN">
                <menu-item name="{{customLoginController.userMenuName}}" right>
                    <has-permission name="ADMIN">
                        <menu-item name="Admin page" on-activate="flow:adminScreen"></menu-item>
                    </has-permission>
                    <menu-item name="User page" on-activate="flow:userScreen"></menu-item>
                    <menu-item name="Documentation" on-activate="flow:securityDocumentation"></menu-item>
                    <menu-item name="Logout" on-activate="customLoginController::logout"></menu-item>
                </menu-item>
            </has-any-permission>
        </menu-item>
    </menu-bar>

    <uibuilder-window id="internal_error_window" header-text="Internal error"
                      width="530px" height="300px" resize="none" closeable>
        <div style="padding-bottom: 30px;">
            <h2>Internal Error</h2>
            Some internal error happened. Please notify the Administrator.
        </div>
    </uibuilder-window>

    <div>
        <uibuilder-page id="mainTarget" href="/webapp/welcome.html"></uibuilder-page>
    </div>

</uibuilder-page>
