<uibuilder-page>

    <style>
        html {
            width: 100vw;
            height: 100vh;
        }

        h2 {
            text-align: center;
        }
    </style>

    <menu-bar id="back">
        <menu-item id="back_to_main" name="Back to base" on-activate="flow:base"></menu-item>
    </menu-bar>

    <h2>404 - Page not found</h2>

</uibuilder-page>
