<uibuilder-page>
    <style>
        .welcome-container {
            background-color: #FFFFFF;
            margin: 0;
            padding: 0;
            height: 100%
        }

        .welcome-container .content .header2 {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 3em;
            border-bottom: 1px solid #F0F0F0;
            text-align: center;
        }

        .welcome-container .content {
            margin-left: auto;
            margin-right: auto;
            padding-top: 64px;
            max-width: 500px;
            background-color: #FFFFFF;
        }

        .welcome-container .content p {
            text-align: justify;
        }

    </style>

    <div class="welcome-container">

        <div class="content">
            <span class="header2">Welcome to DevBench UIBuilder Example App<br/>(2.1.3-SNAPSHOT)</span>
            <p>
                The Example App is a collection of the main functionality of the UIBuilder framework.
                Each example is trying to be as simple as possible to demonstrate the given feature.
                The required source files needed to reproduce is listed under the examples, separated
                by files using tabs.
            </p>
            <p>
                The security example is demonstrated by the login menubar item on the top right. After the login,
                the menu changes to the user name which were used to log in, and has a openable submenu. That submenu
                can be used to log out and show the documentation for the example.
            </p>
        </div>

    </div>

</uibuilder-page>
