<!-- CODE BLOCK DEFINITION - simple_editable_db_grid.html - START -->
<uibuilder-page on-after-load="simpleGridInlineEdit::registerDataSource">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Inline editable UIBuilder Grid with Spring-Data Repository</h2>
        <div class="description">
            <ul>
                <li>The bean validation of the <code>todo</code> field validates if the field contains at least 3 characters.
                    the default selection after the page load.
                </li>
                <li>
                    The page <code>on-after-load</code> event handler is necessary only if using the grid without a crud-panel. If using inside a crud-panel,
                    the datasource name is autodetected.
                </li>
                <li>
                    The grid has an item predicate, which will prevent the todo item ending with "tests" to be edited. The "Disable grid" button will put
                    the grid into disabled mode, that will prevent to click on the editor buttons and modify the inline edit components. However, the
                    disabled mode will not prevent the grid to be switched to inline edit mode.
                </li>
                <li>
                    Currently (1.3.0+) the <code>&lt;uibuilder-item-editable&gt;</code> cannot contain data-source dependent components,
                    like a uibuilder-grid, or a uibuilder-combobox because the need of the backend instantiation and the <code>item</code> property name
                    collision. However, the pure vaadin components can work (for example <code>vaadin-combo-box</code>) if the <code>items=""</code> binding is
                    not <code>item.</code> prefixed.
                </li>
            </ul>

        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_editable_db_grid.html - START -->
            <vaadin-button on-click="simpleGridInlineEdit::allEditMode">Set all item to edit mode</vaadin-button>
            <vaadin-button on-click="simpleGridInlineEdit::saveAllEdited" theme="error primary">Save all edited</vaadin-button>
            <vaadin-button id="toggleBtn" on-click="simpleGridInlineEdit::toggleDisabled" theme="secondary">Disable grid</vaadin-button>

            <vaadin-uibuilder-grid id="editableGrid" item-predicate="{{simpleGridInlineEditItemPredicate.todoItemPredicate}}">

                <data-source name="todoDS"></data-source>

                <vaadin-grid-column width="84px" flex-grow="0">
                    <template>
                        <uibuilder-item-editable default-buttons></uibuilder-item-editable>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">Task</template>
                    <template>
                        <uibuilder-item-editable path="todo" default-editor></uibuilder-item-editable>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column resizable>
                    <template class="header">Deadline</template>
                    <template>
                        <uibuilder-item-editable path="deadline">
                            <vaadin-date-picker slot="edit"
                                                value="{{item.deadline}}"
                                                default-event-handler
                                                default-validator></vaadin-date-picker>
                        </uibuilder-item-editable>
                    </template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_editable_db_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>SimpleGridInlineEditControllerBean.java</vaadin-tab>
            <vaadin-tab>SimpleGridInlineEditItemPredicateControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_editable_db_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/SimpleGridInlineEditControllerBean.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/SimpleGridInlineEditItemPredicateControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_editable_db_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
