<!-- CODE BLOCK DEFINITION - multivalue_form_primitives.html - START -->
<uibuilder-page on-after-load="multiValueFormPrimitivesCb::initForms">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #testMultiForm vaadin-button {
            float: right;
            margin-left: 5px;
        }
    </style>

    <title>UIBuilder examples - multi-value component with primitives</title>

    <div class="content">
        <h2 part="header">UIBuilder multi-value component with primitives</h2>
        <div class="description">
            <h5>This is the <code>uibuilder-multi-value</code> component demo with primitive values</h5><br/>
            &bullet; The <code>uibuilder-multi-value</code> component can be used to handle a collection of items. These items can be primitives, or beans with
            multiple bindings.<br/>
            &bullet; The <code>uibuilder-multi-value</code> can also be used in a <code>uibuilder-form</code>. In this case, the component handles a collection
            of
            primitive values<br/>
            &bullet; In a form, the bean validation works on the individual items too: The integer cannot be less than <b>5</b>.<br/>
            &bullet; In case of using the component in a form (<i>or any DetailCapable component</i>>), any collection of the form item can be
            bound with the <code>item-bind</code> attribute.<br/>
            &nbsp;&nbsp;<span style="color: red">In this case, the <code>item-bind</code> attribute has to be specified
                        without the <code>items:</code> prefix!</span><br/>
            &bullet; In this case, a list of primitive integer values are bound.</br>
            &bullet; In case of primitive values, the <code>value-item-path</code> can be anything. The default value is "<code>value</code>". That value
            will be used when binding in a field component. If the <code>as=""</code> attribute is not specified, the default bean name is
            <code>item</code>. The proper binding for the primitive value is the bean name defined with the as and the value item path defined with the
            value-item-path attribute, for example: <code><b>{{</b>elem.prio<b>}}</b></code>, where the <code>elem</code> is the bean name defined with the
            <code>as="elem"</code> attirbute, and the <code>prio</code>is the value item path defined with the <code>value-item-path="prio"</code> attribute.
            If the value item path can be omitted in the binding, in that case, the html will be automatically fixed, and proper binding will be used, but
            only when the uibuilder-multi-value component is in a form, and the item-bind attribute is present and references a primitive collection (without
            the <code>items:</code> prefix).<br/>
            &bullet; When using an <code>item-supplier</code>, in case of a primitive handled multi-value component, the supplier can be a primitive value,
            or a wrapper object which contains the same named field as specified with the <code>item-value-path</code> attribute (<i>or if not,
            the default value: "value"</i>)<br/>
            &bullet; The add and remove buttons can be modified with a <code>&lt;template&gt;</code> tag, and specifying the <code>slot</code>
            attribute with <code>addButton</code> or <code>removeButton</code>. Furthermore, the add and remove buttons theme can be specified with
            the attributes <code>add-button-theme</code> and <code>remove-button-theme</code><br/>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - multivalue_form_primitives.html - START -->
            <vaadin-button on-click="multiValueFormPrimitivesCb::setupFormItem">Reset form item</vaadin-button>
            <br/>
            <uibuilder-form id="testMultiForm"
                            on-save="multiValueFormPrimitivesCb::save"
                            legend="Form with primitive (Integer) multi value">

                <vaadin-text-field label="Holder name" item-bind="holderName"></vaadin-text-field>

                <uibuilder-multi-value item-supplier="{{multiValueFormPrimitivesCb.prioSupplier}}"
                                       add-button-theme="success primary" item-bind="priorities">
                    <template>
                        <vaadin-text-field value="{{item}}"></vaadin-text-field>
                    </template>

                    <template slot="addButton">Add item</template>
                    <template slot="removeButton">
                        <iron-icon icon="vaadin:minus-circle"></iron-icon>
                    </template>
                </uibuilder-multi-value>

                <hr/>
                <div>
                    <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
                    <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                </div>
            </uibuilder-form>

            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>multivalue_form_primitives.html</vaadin-tab>
            <vaadin-tab>MultiItemHolder.java</vaadin-tab>
            <vaadin-tab>MultiValueFormPrimitivesControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/multivalue_form_primitives.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MultiItemHolder.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MultiValueFormPrimitivesControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - multivalue_form_primitives.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
