<!-- CODE BLOCK DEFINITION - multivalue_form_bean_items.html - START -->
<uibuilder-page xmlns="http://www.w3.org/1999/html">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <title>UIBuilder examples - multi-value component with bean items</title>

    <div class="content">
        <h2 part="header">UIBuilder multi-value component with bean items</h2>
        <div class="description">
            <h5>This is the <code>uibuilder-multi-value</code> component demo with bean items</h5><br/>
            &bullet; The <code>uibuilder-multi-value</code> component can also be used to handle a collection of bean items with multiple bindings.<br/>
            &bullet; The <code>uibuilder-multi-value</code> can also be used as in a <code>uibuilder-form</code> (<i>also
            <code>master-detail-controller</code> and <code>crud-panel</code></i>).<br/>
            &bullet; In a form, the bean validation works on the individual items too: it this case, the bean's <code>priority</code> property
            cannot be more than <b>100</b>.<br/>
            &bullet; In this example, the <code>uibuilder-multi-value</code> component is bound to a list of beans. In this case, the
            <code>item-bind</code> attribute has to be used with the <code>items:</code> prefix.<br/>
            <h6>Restriction</h6>
            &bullet; When binding to a list of beans, the bean's class type has to be determined on the backend side. To make it able to
            determine the item's type, there has to be at least one component injection in a controller bean which is related to the context
            in which the <code>uibuilder-multi-value</code> component is being used (<i>for example: the component itself with the proper
            generic types, or the <code>UIBuilderForm&lt;MultiItemHolder&gt;</code>, the <code>UIBuilderDetailPanel</code>, the
            <code>UIBuilderMasterDetailController</code>, or the <code>CrudPanel</code>, all with the proper <b>generic type</b></i>).
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - multivalue_form_bean_items.html - START -->
            <uibuilder-combobox id="multiMaster" label="Select a holder" item-label-path="holderName">
                <item-data-source name="multiItemHolderDS" items="{{multiValueFormBeanItemsCb.holders}}"></item-data-source>
                <template>{{item.holderName}}</template>
            </uibuilder-combobox>

            <detail-panel id="multiDetail" legend="Form with bean item multi value">
                <vaadin-text-field label="Holder name" item-bind="holderName"></vaadin-text-field>

                <uibuilder-multi-value item-bind="items:multiItems" as="elem">
                    <template>
                        <vaadin-text-field label="Name" value="{{elem.name}}"></vaadin-text-field>
                        <vaadin-text-field label="Priority" value="{{elem.priority}}"></vaadin-text-field>
                        <vaadin-date-time-picker label="DateTime" value="{{elem.expire}}"></vaadin-date-time-picker>
                        <uibuilder-combobox id="multiLabel" label="Label" item-label-path="name" value="{{elem.label}}" style="width: 160px">
                            <item-data-source name="multiItemLabelDS" items="{{multiValueFormBeanItemsCb.labels}}"></item-data-source>
                            <template>
                                {{item.name}} - {{item.index}}
                            </template>
                        </uibuilder-combobox>
                    </template>
                </uibuilder-multi-value>
            </detail-panel>

            <master-detail-controller id="multiMdc" master="multiMaster" detail="multiDetail" on-save="multiValueFormBeanItemsCb::save">
            </master-detail-controller>

            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>multivalue_form_bean_items.html</vaadin-tab>
            <vaadin-tab>MultiItem.java</vaadin-tab>
            <vaadin-tab>MultiItemHolder.java</vaadin-tab>
            <vaadin-tab>MultiValueFormBeanItemsControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/multivalue_form_bean_items.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MultiItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MultiItemHolder.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MultiValueFormBeanItemsControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - multivalue_form_bean_items.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
