<!-- CODE BLOCK DEFINITION - nested_form.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Form (nested)</h2>
        <div class="description">
            &bullet; The <b>reset</b> button should reset the values set be the activate buttons.<br/>
            &bullet; The <b>save</b> button should call a method on the backend side with the actual form content.<br/>
            &bullet; The <b>Todo Item</b>'s content should less than 3 characters long to show a validation error.<br/>
            &bullet; The <b>Extra number</b> should be less than 100 to show a validation error.<br/>
            If there is one or more <code>confirm-dialog</code> in the form, it could interrupt the defined method (save, reset, cancel) to call to the backend.<br/>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - nested_form.html - START -->
            <vaadin-button on-click="formController::activateTodoItem1">Activate Todo 1</vaadin-button>
            <vaadin-button on-click="formController::activateTodoItem2">Activate Todo 2</vaadin-button>
            <vaadin-button on-click="formController::clearFormItem">Clear form</vaadin-button>

            <uibuilder-form id="form" legend="Todo item with extra" on-save="formController::onSave">
                <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                <uibuilder-form id="extra-form" legend="" item-bind="formItem:extraAttribute">
                    <vaadin-text-field label="Extra text" item-bind="extraText"></vaadin-text-field>
                    <vaadin-text-field label="Extra number" item-bind="extraNumber"></vaadin-text-field>
                </uibuilder-form>

                <hr/>
                <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
            </uibuilder-form>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>nested_form.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>SimpleFormControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/nested_form.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - nested_form.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
