<!-- CODE BLOCK DEFINITION - simple_form_unreachable_prop.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Form (unreachable property)</h2>
        <div class="description">
            &bullet; <b>Todo 1</b> - contains a label with a name<br/>
            &bullet; <b>Todo 2</b> - contains a label with an empty name<br/>
            &bullet; <b>Todo 3</b> - doesn't contain a label (<i>TodoItem's label property is null</i>)<br/>
            &bullet; Clicking the <b>Create label</b> button will create a Label instance with a name and set in the current form item<br/>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_form_unreachable_prop.html - START -->
            <vaadin-button on-click="unreachablePropertyControllerBean::activateTodoItem1">Activate Todo 1</vaadin-button>
            <vaadin-button on-click="unreachablePropertyControllerBean::activateTodoItem2">Activate Todo 2</vaadin-button>
            <vaadin-button on-click="unreachablePropertyControllerBean::activateTodoItem3">Activate Todo 3</vaadin-button>
            <vaadin-button on-click="unreachablePropertyControllerBean::clearFormItem">Clear form</vaadin-button>
            <vaadin-button on-click="unreachablePropertyControllerBean::createLabel">Create label</vaadin-button>

            <uibuilder-form id="form" legend="Todo item form">
                <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                <vaadin-text-field label="Label name" item-bind="label.name"></vaadin-text-field>
                <hr/>
                <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
            </uibuilder-form>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_form_unreachable_prop.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>FormUnreachablePropertyControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_form_unreachable_prop.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormUnreachablePropertyControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_form_unreachable_prop.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
