<!-- CODE BLOCK DEFINITION - simple_changed_only_validation_form.html - START -->
<uibuilder-page on-after-load="changedOnlyValidation::resetQuestionnaire" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
                xmlns="http://www.w3.org/1999/html">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #form {
            width: 400px;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Form</h2>
        <div class="description">
            <h5>UIBuilder Form changed-only validation demo</h5>
            &bullet; Every field has a constraint, configured by bean validation.<br/>
            &bullet; A field can become invalid when the value is modified and the validation response will set the field to invalid state.<br/>
            &bullet; When the <code>save</code> function has been called on the form (<i>by clicking the form-control button, called manually by javascript,
            or event from the backend</i>>), the form will perform a full validation and first. If the form is valid, the save progress will continue, if
            the form is invalid, all the invalid fields will be marked and the save functionality will be disabled until all of the invalid fields has
            been changed to a valid value<br/>
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_changed_only_validation_form.html - START -->
            <uibuilder-form id="form" legend="Questionnaire" on-save="changedOnlyValidation::onSave" changed-only-validation>
                <vaadin-text-field label="Full name" item-bind="fullName"></vaadin-text-field>
                <vaadin-text-field label="Age" item-bind="age"></vaadin-text-field>
                <vaadin-text-field label="Question 1" item-bind="answer1"></vaadin-text-field>
                <vaadin-text-field label="Question 2" item-bind="answer2"></vaadin-text-field>
                <uibuilder-combobox label="Label" item-bind="selected:label" item-label-path="name">
                    <item-data-source name="labelDS" items="{{changedOnlyValidation.labels}}"></item-data-source>
                    <template>
                        {{item.name}}
                    </template>
                </uibuilder-combobox>

                <uibuilder-form id="extraForm" legend="" item-bind="formItem:extra" changed-only-validation>
                    <vaadin-text-field label="Extra text" item-bind="extraText"></vaadin-text-field>
                    <vaadin-text-field label="Extra number" item-bind="extraNumber"></vaadin-text-field>
                </uibuilder-form>

                <uibuilder-checkbox item-bind="accepted">Accept conditions</uibuilder-checkbox>

                <hr/>
                <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
            </uibuilder-form>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_changed_only_validation_form.html</vaadin-tab>
            <vaadin-tab>Questionnaire.java</vaadin-tab>
            <vaadin-tab>ChangedOnlyValidationFormControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_changed_only_validation_form.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/Questionnaire.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ChangedOnlyValidationFormControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_changed_only_validation_form.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
