<!-- CODE BLOCK DEFINITION - simple_form_rich_text.html - START -->
<uibuilder-page on-after-load="formRichTextCb::initForm">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #lastSavedHtmlRaw {
            padding: 8px;
            font-size: 14px;
            font-family: monospace;
            color: #E0E0E0;
            border: 1px solid #101010;
            background-color: #404040;
        }

        #lastSavedHtml {
            font-size: 20px;
            font-family: var(--lumo-font-family);
            border: 1px solid #F0F0F0;
            background-color: #FDFDFD;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Form with rich text field</h2>
        <div class="description">
            <ul>
                <li>The <code>uibuilder-rich-text-editor</code> component is a <a href="https://quilljs.com/">quill</a> based component. Can be used
                    individually and also in a form.
                </li>
                <li>The component has multiple value modes. This means, that if the component is used in a form, the value of the field can be plain text,
                    html, or the operation instructions of the formatted text (aka.: <i>Delta</i>).<br/>
                    Available value: "<b>plain</b>", "<b>html</b>", "<b>delta</b>" .The default value mode is <b><code>html</code></b>.
                </li>
                <li>The component can render the HTML by the received Ops also on the backend. This can be set with the <code>html-render-mode="backend"</code>
                    attribute.<br/>
                    The default <code>html-render-mode</code> value is "<b>frontend</b>".
                </li>
                <li>If using the component in a form, the <i>low bandwidth</i> mode can be achieved with the "<b>backend:</b>" special bind qualifier
                    (or "selected:") used in the <code>item-bind</code> attribute (for example: <code>item-bind="backend:propertyName"</code>), and setting the
                    <code>html-render-mode</code> to backend (like: <code>html-render-mode="backend"</code>). In this case, the frontend html will not be
                    transferred to the backend after every modification, and the component will know to not send the whole value to the backend, thus the bind
                    qualifier will instruct the form to use the components backend value, which is constructed from the Delta ops. In this case, only the delta
                    ops will be transferred to the backend.
                </li>
                <li>The component can be configured with special inner configuration components. These components are simple tags which could be placed inside
                    the <code>uibuilder-rich-text-editor</code> component. The configuration components has to contain a <code>preConfig(config)</code> and a
                    <code>postConfig(quill)</code> method (<i>can be extended from the <code>UibuilderRichTextEditorConfig</code> class</i>).
                    With the preConfig method the configuration object of the quill editor can be modified. With the postConfig, the created quill editor
                    instance can be configured.
                </li>
                <li>Currently predefined configuration components are:
                    <ul>
                        <li><code>&lt;theme-config&gt;</code> - to configure the theme. Use with the "<b>theme</b>" attribute. Currently possible values are:
                            "snow", "bubble". If omitted, the snow will be the default theme.
                        </li>
                        <li><code>&lt;toolbar-config&gt;</code> - to configure the toolbar. The toolbar can be configured with the "<b>mode</b>" attribute with
                            predefined sets of format operations. The currently possible values are: "<b>no</b>", "<b>minimal</b>", "<b>default</b>",
                            "<b>extended</b>", "<b>full</b>" and "<b>custom</b>".<br/>
                            If the mode is <b>custom</b>, then the "<b>custom</b>" attribute has to contain the toolbar configuration in <b>JSON</b>.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_form_rich_text.html - START -->
            Reset form with the following buttons:<br/>
            <vaadin-button on-click="formRichTextCb::resetWithPlain">Reset with plain text</vaadin-button>
            <vaadin-button on-click="formRichTextCb::resetWithHtml">Reset with HTML</vaadin-button>
            <vaadin-button on-click="formRichTextCb::resetWithOps">Reset with plain text and apply retain Ops</vaadin-button>
            <vaadin-button on-click="formRichTextCb::resetWithInsertOps">Reset with insert Ops</vaadin-button>

            <!-- CODE BLOCK DEFINITION END -->
            <div style="display: flex">
                <div style="flex: 60%">
                    <!-- CODE BLOCK DEFINITION - simple_form_rich_text.html - START -->
                    <uibuilder-form id="form" legend="" on-save="formRichTextCb::onSave">
                        <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                        <uibuilder-rich-text-editor id="richText" label="Rich text" item-bind="backend:todo">
                            <toolbar-config mode="extended"></toolbar-config>
                        </uibuilder-rich-text-editor>

                        <hr/>
                        <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                        <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
                    </uibuilder-form>
                    <!-- CODE BLOCK DEFINITION END -->
                </div>
                <div style="flex: 40%; margin-left: 8px">
                    <!-- CODE BLOCK DEFINITION - simple_form_rich_text.html - START -->
                    Last saved todo item as rich text:
                    <div id="lastSavedHtml">
                    </div>
                    <!-- CODE BLOCK DEFINITION END -->
                </div>
            </div>

            <hr/>
            Generated HTML:
            <pre id="lastSavedHtmlRaw">
            </pre>

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_form_rich_text.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>FormWithRichTextControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_form_rich_text.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormWithRichTextControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_form_rich_text.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
