<!-- CODE BLOCK DEFINITION - simple_form_rich_text_delta.html - START -->
<uibuilder-page on-after-load="formRichTextDeltaCb::initForm">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #lastSavedOps {
            padding: 8px;
            font-size: 14px;
            font-family: monospace;
            color: #E0E0E0;
            border: 1px solid #101010;
            background-color: #404040;
        }

        #lastSavedHtml {
            font-size: 20px;
            font-family: var(--lumo-font-family);
            border: 1px solid #F0F0F0;
            background-color: #FDFDFD;
        }

    </style>

    <div class="content">
        <h2 part="header">UIBuilder Form with rich text field in delta value mode</h2>
        <div class="description">
            In this example, the rich text editor is used in <b>delta</b> mode. This means, that the component value will be the delta ops in string.
            This mode is recommended to store the raw document, to be able to generate multiple type of formatted outputs later.<br/>
            <code>item-bind</code> attribute shows that the form will handle the rich text editor field value modifications on the backend, in the current
            example, the backend html renderer will be used to generate the formatted output.
            <br/><br/>
            For more information about the rich text editor component, see the <a href="/form/richText">following example page</a>.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION END -->
            <div style="display: flex">
                <div style="flex: 60%">
                    <!-- CODE BLOCK DEFINITION - simple_form_rich_text_delta.html - START -->
                    <uibuilder-form id="form" legend="" on-save="formRichTextDeltaCb::onSave">
                        <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                        <uibuilder-rich-text-editor id="richText" label="Rich text"
                                                    item-bind="backend:todo"
                                                    html-render-mode="backend"
                                                    value-mode="delta">
                        </uibuilder-rich-text-editor>

                        <hr/>
                        <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                        <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
                    </uibuilder-form>
                    <!-- CODE BLOCK DEFINITION END -->
                </div>
                <div style="flex: 40%; margin-left: 8px">
                    <!-- CODE BLOCK DEFINITION - simple_form_rich_text_delta.html - START -->
                    Last saved todo item as rich text:
                    <div id="lastSavedHtml">
                    </div>
                    <!-- CODE BLOCK DEFINITION END -->
                </div>
            </div>

            <!-- CODE BLOCK DEFINITION - simple_form_rich_text_delta.html - START -->
            <hr/>
            Last saved todo item as rendered markdown:
            <pre id="lastSavedOps">
            </pre>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_form_rich_text_delta.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>FormWithRichTextDeltaControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_form_rich_text_delta.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormWithRichTextDeltaControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_form_rich_text_md.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
