<!-- CODE BLOCK DEFINITION - simple_form.html - START -->
<uibuilder-page on-after-load="formController::activateTodoItem1">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">UIBuilder Form</h2>
        <div class="description">
            &bullet; This example page is wrapped in a <code>uibuilder-page</code> with an <i><code>on-after-load</code></i> attribute
            which calls the "<b>Activate Todo 1</b>" method<br/>
            &bullet; The <b>reset</b> button discards the changes made in the form.<br/>
            &bullet; The <b>save</b> button should call a method on the backend side with the actual form content.<br/>
            &bullet; The <b>Todo Item</b> field has a validator, which shows a validation error, if it contains less than 3 characters long string.<br/>
            If there is one or more <code>confirm-dialog</code> in the form, it could interrupt the defined method (save, reset, cancel) to call to the backend.<br/>
            <br/>
            The <code>ExtraAttributeBeanNodeInstanceFactory</code> is an example which demonstrates how to provide a factory for a bean member,
            which has to be instantiated if the form demands access to a property path involving the mentioned bean.<br/>
            <br/>
            The text field with the "<i>Type agree to agree</i>" label is not part of the form, it does not have an item-bind attribute.<br/>
            The field is used only for custom form validation. For an example to how to define custom validation on a form, see the
            <code>FormControllerBean</code> <code>formReady</code> event handler.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_form.html - START -->
            <vaadin-button on-click="formController::activateTodoItem1">Activate Todo 1</vaadin-button>
            <vaadin-button on-click="formController::activateTodoItem2">Activate Todo 2</vaadin-button>
            <vaadin-button on-click="formController::clearFormItem">Clear form</vaadin-button>
            <vaadin-button on-click="formController::setFormReadonly">Readonly mode</vaadin-button>

            <uibuilder-form id="form" legend="Todo item form" on-save="formController::onSave" on-form-ready="formController::formReady" readonly>
                <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                <vaadin-text-field label="Extra text" item-bind="extraAttribute.extraText"></vaadin-text-field>
                <vaadin-text-field label="Extra number" item-bind="extraAttribute.extraNumber"></vaadin-text-field>

                <br/>
                <vaadin-text-field id="customValidTextField" label='Type "agree" to agree' on-value-changed="formController::revalidate"></vaadin-text-field><br/>

                <hr/>
                <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
            </uibuilder-form>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_form.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>FormControllerBean.java</vaadin-tab>
            <vaadin-tab>ExtraAttributeBeanNodeInstanceFactory</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_form.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ExtraAttributeBeanNodeInstanceFactory.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_form.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
