<!-- CODE BLOCK DEFINITION - simple_form_rich_text_md.html - START -->
<uibuilder-page on-after-load="formRichTextMdCb::initForm">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #lastSavedMd {
            padding: 16px;
            font-size: 14px;
            font-family: monospace;
            color: #E0E0E0;
            border: 1px solid #101010;
            background-color: #404040;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Form with rich text field in with markdown formatter</h2>
        <div class="description">
            In this example, the rich text editor is used with the <b>Markdown</b> formatter in <b>formatted</b> mode. This means, that
            the component will parse the form field value with the specified formatter and send the delta ops to the component. After every
            modification, the component will send only the delta ops to the backend and the backend will render the formatted value. As the
            <code>item-bind</code> attribute shows that the form should handle the rich text editor field value modifications on the backend.
            This is necessary to the formatted value mode to work properly with the provided formatters.
            <br/><br/>
            For more information about the rich text editor component, see the <a href="/form/richText">following example page</a>.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION END -->
            <div style="display: flex">
                <div style="flex: 60%">
                    <!-- CODE BLOCK DEFINITION - simple_form_rich_text_md.html - START -->
                    <uibuilder-form id="form" legend="" on-save="formRichTextMdCb::onSave">
                        <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                        <uibuilder-rich-text-editor id="richText" label="Rich text"
                                                    item-bind="backend:todo"
                                                    html-render-mode="backend"
                                                    formatter="Markdown"
                                                    value-mode="formatted">
                            <toolbar-config mode="full"></toolbar-config>
                        </uibuilder-rich-text-editor>

                        <hr/>
                        <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
                        <vaadin-button id="saveButton" form-control="save">Save</vaadin-button>
                    </uibuilder-form>
                    <!-- CODE BLOCK DEFINITION END -->
                </div>
                <div style="flex: 40%; margin-left: 8px">
                    <!-- CODE BLOCK DEFINITION - simple_form_rich_text_md.html - START -->
                    Last saved todo item as rendered markdown:
                    <pre id="lastSavedMd">
                    </pre>
                    <!-- CODE BLOCK DEFINITION END -->
                </div>
            </div>

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_form_rich_text_md.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>FormWithRichTextMdControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_form_rich_text_md.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FormWithRichTextMdControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_form_rich_text_md.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
