<uibuilder-page>
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Server static files</h2>
        <div class="description">
            <p>
                Apps made with UIBuilder can serve static files under the following conditions:
            </p>

            <ul>
                <li>Place the <code>StaticContent</code> annotation on the main class of the application</li>
                <li>
                    Define a list of directories in the <code>lookupPaths</code> field, where the app should search for the static files in the classpath.
                    Defaults to <code>/static</code>.
                </li>
                <li>Define the URL prefix for the static requests in the <code>url</code>. Defaults to <code>/static</code>.</li>
            </ul>

            <p>
                After that place the static files in any <code>/resources/{lookupPaths}</code> directory, and reference it under the
                <code>/{url}/fileName.jpg</code> url.
            </p>
        </div>
        <div class="component">
            <p>
                This image is under the <code>/static-images/cute-cat.jpg</code> path.
            </p>
            <img src="static/cute-cat.jpg" style="max-width: 100%;">

            <p style="font-size: 0.7em;">
                <a href="https://www.flickr.com/photos/7326810@N08/2200397761">""Spot" the kitten"</a> by <a href="https://www.flickr.com/photos/7326810@N08">Just
                chaos</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0"> CC BY 2.0 </a>
            </p>

            <p>
                This image is in another module under the <code>/static/doggo.jpg</code> path.
            </p>

            <img src="static/doggo.jpg" style="max-width: 100%;">
            <p style="font-size: 0.7em;">
                <a href="https://www.flickr.com/photos/mariiliaalmeida/141123835">"Lady"</a> by <a href="https://www.flickr.com/people/mariiliaalmeida/">Marília
                Almeida</a> is licensed under <a href="https://creativecommons.org/licenses/by/2.0"> CC BY 2.0 </a>
            </p>
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>Application.java</vaadin-tab>
            <vaadin-tab>cute-cat.html</vaadin-tab>
            <vaadin-tab>doggo.html</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/Application.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html">
                    <script type="text/code">
                        <p>
                            This image is under the <code>/static-images/cute-cat.jpg</code> path.
                        </p>
                        <img src="static/cute-cat.jpg" style="max-width: 100%;">
                    </script>
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="html">
                    <script type="text/code">
                        <p>
                            This image is in another module under the <code>static/doggo.jpg</code> path.
                        </p>
                        <img src="static/doggo.jpg" style="max-width: 100%;">
                    </script>
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
</uibuilder-page>
