<!-- CODE BLOCK DEFINITION - simple_collection_tree_grid.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-TreeGrid with Spring-Data Repository</h2>
        <div class="description">
            &bullet; The tree items are loaded from a controller bean called <code>SimpleCollectionTreeGridBean</code>.<br/>
            &bullet; To build the tree hierarchy, the <code>hierarchy-provider</code> attribute of the <code>item-data-source</code>
            has to contain a valid binding to a controller bean method (in our case
            <code>{{<i>simpleCollectionTreeGridBean::provideChildren</i>}}</code>), which must have one parameter which is the
            parent item, and should return a collection, which are the children of the given parent item.<br/>
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - simple_collection_tree_grid.html - START -->
            <vaadin-uibuilder-grid>
                <item-data-source
                    name="folderAndFileRepository"
                    items="{{simpleCollectionTreeGridBean.rootItems}}"
                    hierarchy-provider="{{simpleCollectionTreeGridBean::provideChildren}}"></item-data-source>
                <vaadin-grid-column>
                    <template class="header">Name</template>
                    <template>
                        <vaadin-grid-tree-toggle>
                            {{item.name}}
                        </vaadin-grid-tree-toggle>
                    </template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_collection_tree_grid.html</vaadin-tab>
            <vaadin-tab>FolderOrFile.java</vaadin-tab>
            <vaadin-tab>FolderAndFileEntity.java</vaadin-tab>
            <vaadin-tab>SimpleCollectionTreeGridBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_collection_tree_grid.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FolderOrFile.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/FolderAndFileEntity.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/SimpleCollectionTreeGridBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_collection_tree_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
