<!-- CODE BLOCK DEFINITION - datasource_instance_shared_between_components.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Using same datasource instance with multiple components connected by datasource-id</h2>
        <div class="description">
            This is a short example how you could create two separated data source with filters<br/>
            Note: The component connected <code>datasource-id</code> should be the same in both the filter and
            the other component, while must be unique in the whole project
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - datasource_instance_shared_between_components.html - START -->
            <uibuilder-common-filter auto-search>
                <data-source datasource-id="sharedTodoDS1" name="todoDS"></data-source>
                <filter-types>
                    <filter-type label="Text" filter="todo" operators='["like", "=", "in"]'></filter-type>
                    <filter-type label="Deadline" filter="deadline"></filter-type>
                </filter-types>
            </uibuilder-common-filter>

            <vaadin-uibuilder-grid>
                <data-source datasource-id="sharedTodoDS1" name="todoDS"></data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Task
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>

            <uibuilder-common-filter auto-search>
                <data-source datasource-id="sharedTodoDS2" name="todoDS"></data-source>
                <filter-types>
                    <filter-type label="Text" filter="todo" operators='["like", "=", "in"]'></filter-type>
                    <filter-type label="Deadline" filter="deadline"></filter-type>
                </filter-types>
            </uibuilder-common-filter>

            <uibuilder-combobox id="someCb" item-label-path="todo">
                <data-source datasource-id="sharedTodoDS2" name="todoDS"></data-source>
                <template>{{item.todo}}</template>
            </uibuilder-combobox>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>datasource_instance_shared_between_components.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/datasource_instance_shared_between_components.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - datasource_instance_shared_between_components.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
