<!-- CODE BLOCK DEFINITION - dynamic_grid.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        #deadline {
            width: 340px;
        }
    </style>

    <div class="content">
        <h2 part="header">Uibuilder-Grid with Spring-Data Repository and default dynamic query</h2>
        <div class="description">
            In this case the <code>default-query</code> for the data source is provided by the <code>findByDeadLine</code> method,
            declared in the <code>TodoItemDynamicCustomQuery</code>
            interface. This interface is implemented by the <code>TodoItemDynamicCustomQueryImpl</code> class, and extended by the <code>DynamicCustomTodoItemRepository</code>
            interface, where the data source is declared with the <code>@TargetDataSource</code> annotation.
            (This is the recommended solution for adding custom methods to spring-data repositories, as shown in the spring-data documentation:
            <a href="https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#repositories.single-repository-behavior">https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#repositories.single-repository-behavior</a>)
            <br/><br/>
            In addition, this example is intended to demonstrate, how to create a dynamically modifiable default query.<br/>
            In this case the <code>findByDeadLine</code> method in the
            custom query's interface implementation is using a controller bean <code>DynamicControllerBeanImpl</code> by which it can obtain value from the
            frontend (<i>in out case, from a date picker</i>).
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - dynamic_grid.html - START -->
            <vaadin-date-picker id="deadline" label="Choose a value for the dynamic filter"
                                on-change="dynamic::deadlineChanged"></vaadin-date-picker>

            <vaadin-uibuilder-grid id="todo_grid">
                <data-source name="dynamicTodoDS" default-query="findByDeadLine"></data-source>
                <vaadin-grid-column>
                    <template class="header">
                        <vaadin-grid-sorter path="todo" direction="DESC">Task</vaadin-grid-sorter>
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>dynamic_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>DynamicCustomTodoItemRepository.java</vaadin-tab>
            <vaadin-tab>TodoItemDynamicCustomQuery.java</vaadin-tab>
            <vaadin-tab>TodoItemDynamicCustomQueryImpl.java</vaadin-tab>
            <vaadin-tab>DynamicControllerBean.java</vaadin-tab>
            <vaadin-tab>DynamicControllerBeanImpl.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/dynamic_grid.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/DynamicCustomTodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemDynamicCustomQuery.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemDynamicCustomQueryImpl.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/DynamicControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/DynamicControllerBeanImpl.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - dynamic_grid.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
