<!-- CODE BLOCK DEFINITION - grid_with_default_selection.html - START -->
<uibuilder-page on-after-load="gridWithDbDefaultSelectionControllerBean::afterLoad">
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-Grid with default selection</h2>
        <div class="description">
            The <code>uibuilder-page</code> <code>on-after-load</code> attribute defines the bound controller bean method which will set
            the default selection after the page load.
        </div>
        <div class="component">
            <!-- CODE BLOCK DEFINITION - grid_with_default_selection.html - START -->
            <vaadin-uibuilder-grid id="gridWithDefaultSelection">
                <data-source name="todoDS"></data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Task
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>grid_with_default_selection.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>GridWithDbDefaultSelectionControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/grid_with_default_selection.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/GridWithDbDefaultSelectionControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - grid_with_default_selection.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
