<uibuilder-page id="uibuilder-grid-collection-simple">
    <style include="example-page-style"></style>

    <div class="content">
        <h2 part="header">Uibuilder-Grid with Collection-based Repository</h2>
        <div class="component">
            <vaadin-button on-click="collectionSimpleGridBean::addElements">Add some elements</vaadin-button>
            <hr/>
            <!-- CODE BLOCK DEFINITION - collection based grid - START -->
            <vaadin-uibuilder-grid id="collection-based-grid">
                <item-data-source name="collectionSimpleDs"></item-data-source>
                <vaadin-grid-column>
                    <template class="header">
                        Task
                    </template>
                    <template>{{item.todo}}</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                        Deadline
                    </template>
                    <template>{{item.deadline}}</template>
                </vaadin-grid-column>
            </vaadin-uibuilder-grid>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_grid.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>CollectionSimpleGridBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block>
                    <script type="text/code">
                        <vaadin-button on-click="collectionSimpleGridBean::addElements">Add some elements</vaadin-button>
                        <hr/>
                        <vaadin-uibuilder-grid id="collection-based-grid">
                            <item-data-source name="collectionSimpleDs"></item-data-source>
                            <vaadin-grid-column>
                                <template class="header">
                                    Task
                                </template>
                                <template>{{item.todo}}</template>
                            </vaadin-grid-column>
                            <vaadin-grid-column>
                                <template class="header">
                                    Deadline
                                </template>
                                <template>{{item.deadline}}</template>
                            </vaadin-grid-column>
                        </vaadin-uibuilder-grid>
                    </script>
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java">
                    <script type="text/code">
                        @Entity
                        @Table(name = "todo_items")
                        @Data
                        @ToString(callSuper = true)
                        @AllArgsConstructor
                        @NoArgsConstructor
                        public class TodoItem implements Persistable {

                            @Id
                            @Column(name = "id")
                            private String id = UUID.randomUUID().toString();

                            @Version
                            @Column(name = "version")
                            private long version;

                            @Column(name = "todo")
                            private String todo;

                            @Column(name = "deadline")
                            private LocalDateTime deadline;

                            @Override
                            public boolean isNew() {
                                return true;
                            }
                        }
                    </script>
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java">
                    <script type="text/code">
                        @PageScope("grid-collection-ordering")
                        @ControllerBean("collectionSimpleGridBean")
                        public class CollectionSimpleGridBean {

                            @UIEventHandler("addElements")
                            public void addElements(@UIComponent("collection-based-grid") UIBuilderGrid<TodoItem> grid) {
                                grid.setItems(
                                    new TodoItem("Buy some food", LocalDate.now().plus(3, ChronoUnit.DAYS)),
                                    new TodoItem("Feed the cat", LocalDate.now()),
                                    new TodoItem("Write a unit test", LocalDate.now().plus(5, ChronoUnit.DAYS)),
                                    new TodoItem("Fix the car", LocalDate.now().plus(10, ChronoUnit.DAYS))
                                );
                            }
                        }
                    </script>
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>

</uibuilder-page>
