<!-- CODE BLOCK DEFINITION - nested_crud_mdc_cb.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            height: 410px;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
            min-width: 800px;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (nested with AbstractControllerBean and ComboBox)</h2>
        <div class="description">
            This example is intended to demonstrate the usage of a master component which is not a grid. In this case, a combobox is used
            as the master component inside of the nested MDC setup. It has to list the available items provided by the selected
            <code>TodoItem</code>'s <b>reminders</b> collection. It is not a single field of the <code>TodoItem</code> that has to be selected from the items
            in the combobox. The <code>item-bind="items:reminders"</code> tells the form to use the <code>TodoItem</code>'s (<i>which is the actual form
            field</i>) <b>reminders</b> field (<i>OneToMany</i>) as the <i>datasource</i> for the combobox.
            <br/>
            <br/>
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            The <b>MDC</b> could define the <b>event handlers</b> bound to controller beans and provider <code>item-supplier</code> controller bean binding to
            be able to create new items on demand.<br/>
            The <code>crud-toolbar</code> connects to a specified <b>MDC</b> and reacts to the events (<i>with enabling/disabled function buttons</i>) along
            with extending the functionality (<i>by adding the <b>Create</b> button, etc.</i>)<br/>
            The nested <b>MDC</b> setup is just another <code>master-detail-controller</code> component with it's own <b>master</b> (<i>in this case, it is a <b>combo-box</b></i>) and
            <b>detail</b> (<i>in this case, an editor window</i>)component inside a <b>higher level detail component</b>.<br/>
            This example also demonstrates the usage of the <code>confirm-dialog</code> currently used for the <b>save</b> functionality.
        </div>
        <div class="component">

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - nested_crud_mdc_cb.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                    <br/>

                    <uibuilder-combobox id="reminder-cb" item-label-path="text" item-bind="items:reminders">
                        <item-data-source name="reminderDS"></item-data-source>
                        <template>{{item.text}} ({{item.priority}}) - alert on: {{item.alertOnDay}}</template>
                    </uibuilder-combobox>

                    <uibuilder-editor-window id="reminder-detail" header-text="Reminder">
                        <vaadin-text-field label="Text" item-bind="text"></vaadin-text-field>
                        <vaadin-date-picker label="Alert day" item-bind="alertOnDay"></vaadin-date-picker>
                        <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                    </uibuilder-editor-window>

                    <master-detail-controller id="reminder-mdc"
                                              master="reminder-cb"
                                              detail="reminder-detail"
                                              on-save="mdcNestedCrudBean::onSaveReminderItem"
                                              item-supplier="{{mdcNestedCrudBean.reminderItemSupplier}}">

                        <confirm-dialog observed-event="save" header-text="Really save?">Do you really want to save the changes?</confirm-dialog>
                    </master-detail-controller>

                    <crud-toolbar master-detail-controller="reminder-mdc"></crud-toolbar>

                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - nested_crud_mdc_cb.html - START -->
            <master-detail-controller
                id="mdc" master="grid" detail="detail"
                on-save="mdcNestedCrudBean::onSave"
                on-delete="mdcNestedCrudBean::onDelete"
                on-refresh="mdcNestedCrudBean::onRefresh"
                item-supplier="{{mdcNestedCrudBean::create}}">
            </master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>nested_crud_mdc_cb.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
            <vaadin-tab>MdcNestedCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/nested_crud_mdc_cb.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcNestedCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>

    <!-- CODE BLOCK DEFINITION - nested_crud_mdc_cb.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
