<!-- CODE BLOCK DEFINITION - nested_crud_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            height: 410px;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
            min-width: 800px;
        }

        #reminder-grid {
            height: 200px;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (nested with AbstractControllerBean)</h2>
        <div class="description">
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            The <b>MDC</b> could define the <b>event handlers</b> bound to controller beans and provider <code>item-supplier</code> controller bean binding to
            be able to create new items on demand.<br/>
            The <code>crud-toolbar</code> connects to a specified <b>MDC</b> and reacts to the events (<i>with enabling/disabled function buttons</i>) along with extending the functionality (<i>by adding the <b>Create</b> button, etc.</i>)<br/>
            The nested <b>MDC</b> setup is just another <code>master-detail-controller</code> component with it's own <b>master</b> (<i>grid</i>) and <b>detail</b> (<i>in this case, an editor window</i>)component inside a <b>higher level detail component</b>.<br/>
            The nested <b>MDC</b> in this example is using a generic controller bean, which can detect the OneToMany relation to the TodoItem, and handle the instantiation of the ReminderItem and setup the appropriate field values according to the selected TodoItem,
            furthermore, it will handle the addition to the list of the items automatically when the user choose to save the newly created item.

        </div>
        <div class="component">

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - nested_crud_mdc.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                    <br/>

                    <vaadin-uibuilder-grid id="reminder-grid" item-bind="items:reminders">
                        <item-data-source name="reminderDS"></item-data-source>
                        <vaadin-grid-column>
                            <template class="header">Text</template>
                            <template>{{item.text}}</template>
                        </vaadin-grid-column>
                        <vaadin-grid-column>
                            <template class="header">Alert on day</template>
                            <template>{{item.alertOnDay}}</template>
                        </vaadin-grid-column>
                        <vaadin-grid-column>
                            <template class="header">Priority</template>
                            <template>{{item.priority}}</template>
                        </vaadin-grid-column>
                    </vaadin-uibuilder-grid>

                    <uibuilder-editor-window id="reminder-detail" header-text="Reminder">
                        <vaadin-text-field label="Text" item-bind="text"></vaadin-text-field>
                        <vaadin-date-picker label="Alert day" item-bind="alertOnDay"></vaadin-date-picker>
                        <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                    </uibuilder-editor-window>

                    <master-detail-controller id="reminder-mdc"
                                              master="reminder-grid"
                                              detail="reminder-detail"
                                              on-save="builtInGenericItemCrudPanelControllerBean::onSave"
                                              on-delete="builtInGenericItemCrudPanelControllerBean::onDelete"
                                              on-refresh="builtInGenericItemCrudPanelControllerBean::onRefresh"
                                              on-create="builtInGenericItemCrudPanelControllerBean::onCreate">

                        <confirm-dialog observed-event="save" header-text="Really save?">Do you really want to save the changes?</confirm-dialog>
                    </master-detail-controller>

                    <crud-toolbar master-detail-controller="reminder-mdc"></crud-toolbar>

                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - nested_crud_mdc.html - START -->
            <master-detail-controller
                id="mdc" master="grid" detail="detail"
                on-save="mdcSimpleCrudBean::onSave"
                on-delete="mdcSimpleCrudBean::onDelete"
                on-refresh="mdcSimpleCrudBean::onRefresh"
                item-supplier="{{mdcSimpleCrudBean::create}}">
            </master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>nested_crud_mdc.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/nested_crud_mdc.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - nested_crud_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
