<!-- CODE BLOCK DEFINITION - nested_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            height: 410px;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
            min-width: 800px;
        }

        #reminder-grid {
            height: 200px;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (no backend, nested)</h2>
        <div class="description">
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            In this example, there is no controller bean binding in either of the MDC's.<br/>
            The detail panel's crud toolbar <b>Edit</b> button can be clicked to edit the selected item in an editor window.<br/>
        </div>
        <div class="component">

            <div class="mdc-container">

                <!-- CODE BLOCK DEFINITION - nested_mdc.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>

                    <br/>

                    <vaadin-uibuilder-grid id="reminder-grid" item-bind="items:reminders">
                        <item-data-source name="reminderDS"></item-data-source>
                        <vaadin-grid-column>
                            <template class="header">Text</template>
                            <template>{{item.text}}</template>
                        </vaadin-grid-column>
                        <vaadin-grid-column>
                            <template class="header">Alert on day</template>
                            <template>{{item.alertOnDay}}</template>
                        </vaadin-grid-column>
                        <vaadin-grid-column>
                            <template class="header">Priority</template>
                            <template>{{item.priority}}</template>
                        </vaadin-grid-column>
                    </vaadin-uibuilder-grid>

                    <uibuilder-editor-window id="reminder-detail" header-text="Reminder">
                        <vaadin-text-field label="Text" item-bind="text"></vaadin-text-field>
                        <vaadin-date-picker label="Alert day" item-bind="alertOnDay"></vaadin-date-picker>
                        <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                    </uibuilder-editor-window>

                    <master-detail-controller id="reminder-mdc"
                                              master="reminder-grid"
                                              detail="reminder-detail">
                    </master-detail-controller>

                    <crud-toolbar master-detail-controller="reminder-mdc" refresh-disabled></crud-toolbar>

                </detail-panel>

                <master-detail-controller id="mdc" master="grid" detail="detail"></master-detail-controller>

                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>nested_mdc.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/nested_mdc.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - nested_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
