<!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (with AbstractControllerBean) from <i>Reminder</i> side</h2>
        <div class="description">
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            The <b>MDC</b> could define the <b>event handlers</b> bound to controller beans and provider <code>item-supplier</code> controller bean binding to
            be able to create new items on demand.<br/><br/>
            This example demonstrates the usage of a nested combobox using a datasource with a "<b>selected:</b>" special binding.

            The <code>selected:</code> keyword used as a prefix in <code>item-bind</code> (<i>usually used with a combobox</i>) will make it able for
            the component to operate with a whole bean instead of a property of the bean. In this example, the <b>activateTodoCb</b> combobox has its
            own, independent datasource <b>todoDS</b> which provides items to list, and the selected item of the combobox is the value which
            has to be processed by the form. In this case, that selected value is a <code>TodoItem</code> instance, which has to be set in the
            <code>ReminderItem</code>'s <b>todoItem</b> field. The mentioned relation is described by the <code>item-bind="selected:todoItem"</code>
            attribute in the <code>uibuilder-combobox</code>.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder.html - START -->
            <crud-toolbar master-detail-controller="mdc" delete-hidden></crud-toolbar>
            <!-- CODE BLOCK DEFINITION END -->

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="remItemDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Reminder text</template>
                        <template>{{item.text}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Reminder text" item-bind="text"></vaadin-text-field>
                    <vaadin-text-field label="Priority" item-bind="priority"></vaadin-text-field>
                    <vaadin-date-picker label="Alert on" item-bind="alertOnDay"></vaadin-date-picker>

                    <uibuilder-combobox id="activeTodoCb" item-label-path="todo" item-bind="selected:todoItem">
                        <data-source name="todoDS"></data-source>
                        <template>{{item.todo}}</template>
                    </uibuilder-combobox>

                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder.html - START -->
            <master-detail-controller
                id="mdc" master="grid" detail="detail"
                on-save="mdcReminderCrudBean::onSave"
                on-refresh="mdcReminderCrudBean::onRefresh"
                item-supplier="{{mdcReminderCrudBean::create}}">
            </master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_crud_mdc_reminder.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>ReminderItem.java</vaadin-tab>
            <vaadin-tab>ReminderItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcReminderCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_crud_mdc_reminder.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/ReminderItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcReminderCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_crud_mdc_reminder.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
