<!-- CODE BLOCK DEFINITION - simple_crud_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-master {
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            width: 60%;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (with AbstractControllerBean)</h2>
        <div class="description">
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            The <b>MDC</b> could define the <b>event handlers</b> bound to controller beans and provider <code>item-supplier</code> controller bean binding to
            be able to create new items on demand.<br/>
            The <b>Mark the detail dirty</b> forces the detail component to behave like it's one or more field values has been changed.
        </div>
        <div class="component">

            <!-- CODE BLOCK DEFINITION - simple_crud_mdc.html - START -->
            <crud-toolbar master-detail-controller="mdc"></crud-toolbar>

            <vaadin-horizontal-layout>
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <vaadin-vertical-layout class="mdc-detail">
                    <detail-panel id="detail" style="width: 100%">
                        <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                        <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                        <vaadin-text-field label="Extra text" item-bind="extraAttribute.extraText"></vaadin-text-field>
                        <vaadin-text-field label="Extra number" item-bind="extraAttribute.extraNumber"></vaadin-text-field>
                    </detail-panel>
                    <vaadin-button on-click="mdcMarkDirtyCrudBean::markDetailDirty">Mark the detail dirty</vaadin-button>
                </vaadin-vertical-layout>
            </vaadin-horizontal-layout>

            <master-detail-controller
                id="mdc" master="grid" detail="detail"
                on-save="mdcMarkDirtyCrudBean::onSave"
                on-delete="mdcMarkDirtyCrudBean::onDelete"
                on-refresh="mdcMarkDirtyCrudBean::onRefresh"
                item-supplier="{{mdcMarkDirtyCrudBean::create}}">
            </master-detail-controller>

            <!-- CODE BLOCK DEFINITION END -->

        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_crud_mdc.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
            <vaadin-tab>MdcMarkDirtyCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_crud_mdc.html"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcMarkDirtyCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_crud_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
