<!-- CODE BLOCK DEFINITION - simple_int_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (with interruptable method in the controller bean)</h2>
        <div class="description">
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            &bullet; The <code>detail-panel</code> receives only a single item, if there is no item selected or there are multiple items selected, it treats as
            if the panel received null.<br/>
            &bullet; Item which contains "<u><b>test</b></u>" cannot be selected. The <code>error-handler-dialog</code> will popup if a selection has been
            requested for such element. For more details see the controller bean method which has been bound to the <b>MDC</b> with: <code>on-item-selected="simpleMdc::selected"</code><br/>
        </div>
        <div class="component">

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - simple_int_mdc.html - START -->
                <vaadin-uibuilder-grid id="grid" selection-mode="multi" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-picker label="Deadline" item-bind="deadline"></vaadin-date-picker>
                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - simple_int_mdc.html - START -->
            <master-detail-controller id="mdc" master="grid" detail="detail" on-item-selected="simpleMdc::selected">
                <error-handler-dialog observed-event="error" header-text="Todo error"></error-handler-dialog>
            </master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_int_mdc.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block href="static/code-blocks/simple_int_mdc.html" lang="html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_int_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
