<!-- CODE BLOCK DEFINITION - simple_mdc_datetime.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder Master-detail-controller (CRUD) - LocalDateTime</h2>
        <div class="description">
            The <b>MDC</b> (<i>master-detail-controller</i>) is a meta component which has no presentation layer.<br/>The MDC is
            responsible to connect a <i>master-detail</i> component pair in a two way relation. This means that the event on the master component
            will affect the state of the detail, and vice versa.<br/><br/>
            The <b>MDC</b> uses the <code>vaadin-uibuilder-grid</code> as the <b>master</b> component (<i>this provides the list of the available
            items</i>).<br/>
            The <b>MDC</b> uses the <code>detail-panel</code> as the <b>detail</b> component (<i>this is a uibuilder-form with additional functionality, like
            default form control buttons, etc.</i>).<br/>
            <hr/>
            In this example, the <code>vaadin-date-time-picker</code> is used in the form to edit alert date/time. By clicking on the
            <code>Change date/time field step</code> button,<br/> the <code>vaadin-date-time-picker</code>'s <code>step</code> attribute
            is set with values <b>3600</b>, <b>900</b>, <b>60</b>, <b>1</b>, and <b>0.1</b>. If the step is higher than <b>900</b> seconds (15 minutes), then a
            dropdown menu will appear,<br/>
            and the user is able to select the time from the menu, or edit the textfield. If the step is lower then 15 minutes, the dropdown menu will
            not appear, and the user will need to type<br/> the time, or use the UP or DOWN keys to step the time back or forth (for more information see:
            <a target="_blank" href="https://vaadin.com/components/vaadin-date-time-picker/html-examples/date-time-picker-basic-demos#value-resolution">vaadin-date-time-picker value resolution</a>).
        </div>
        <div class="component">

            <div class="mdc-container">
                <!-- CODE BLOCK DEFINITION - simple_mdc_datetime.html - START -->
                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="todoDS"></data-source>
                    <vaadin-grid-column>
                        <template class="header">Task</template>
                        <template>{{item.todo}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail">
                    <vaadin-text-field label="Todo item" item-bind="todo"></vaadin-text-field>
                    <vaadin-date-time-picker label="Alert time" step="3600" item-bind="alertTime"></vaadin-date-time-picker><br/>
                    <vaadin-button on-click="changeDateTimeStep">Change date/time field step</vaadin-button>
                    Current step: <span id="currentStep">?</span>
                </detail-panel>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>

            <!-- CODE BLOCK DEFINITION - simple_mdc_datetime.html - START -->
            <master-detail-controller id="mdc" master="grid" detail="detail"
                                      on-save="mdcSimpleCrudBean::onSave"
            ></master-detail-controller>
            <!-- CODE BLOCK DEFINITION END -->
        </div>
        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_mdc_datetime.html</vaadin-tab>
            <vaadin-tab>TodoItem.java</vaadin-tab>
            <vaadin-tab>TodoItemRepository.java</vaadin-tab>
            <vaadin-tab>MdcSimpleCrudControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_mdc_datetime.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItem.java"></uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/TodoItemRepository.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/MdcSimpleCrudControllerBean.java"></uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_mdc_datetime.html - START -->
    <script>
        window.exampleApp = window.exampleApp || {};
        window.exampleApp.steps = [3600, 900, 60, 1, 0.1];
        window.exampleApp.stepIndex = 0;

        Object.assign(document.querySelector('uibuilder-dom-bind'), {

            changeDateTimeStep(event) {
                let currentStep = this.nextStepIndex();
                document.querySelector('vaadin-date-time-picker').setAttribute('step', currentStep);
                document.querySelector('#currentStep').textContent = currentStep + ' second(s)';
            },

            nextStepIndex() {
                return window.exampleApp.steps[++window.exampleApp.stepIndex % window.exampleApp.steps.length];
            }
        });

        (() => {
            let currentStep = window.exampleApp.steps[window.exampleApp.stepIndex % window.exampleApp.steps.length];
            document.querySelector('#currentStep').textContent = currentStep + ' second(s)';
        })();
    </script>
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
