<!-- CODE BLOCK DEFINITION - simple_primitive_test_mdc.html - START -->
<uibuilder-page>
    <!-- CODE BLOCK DEFINITION END -->
    <style include="example-page-style"></style>
    <style>
        .mdc-container {
            width: 100%;
        }

        .mdc-master {
            float: left;
            width: 40%;
            height: 410px;
            margin-right: 8px;
        }

        .mdc-detail {
            float: left;
            min-width: 800px;
        }

        #reminder-grid {
            height: 200px;
        }

        span.code {
            font-family: monospace;
            font-weight: bold;
        }
    </style>

    <div class="content">
        <h2 part="header">UIBuilder MDC using primitive values in combo box</h2>
        <div class="description">
            This example is intended to demonstrate a case with form component, when all of the form fields are backend controlled.<br/>
            The form field with <span class="code">item-bind</span> attribute value that starts with <span class="code">selected:</span>
            is treated differently,<br/>
            these fields has no value information stored on the client side, and the reset functionality is also done by the backend.
        </div>

        <div class="component">

            <div class="mdc-container">

                <!-- CODE BLOCK DEFINITION - simple_primitive_test_mdc.html - START -->
                <crud-toolbar master-detail-controller="mdc" refresh-hidden></crud-toolbar>

                <vaadin-uibuilder-grid id="grid" class="mdc-master">
                    <data-source name="primitiveTestDS"></data-source>

                    <vaadin-grid-column>
                        <template class="header">Data 1</template>
                        <template>{{item.dataOne}}</template>
                    </vaadin-grid-column>
                    <vaadin-grid-column>
                        <template class="header">Data 2</template>
                        <template>{{item.dataTwo}}</template>
                    </vaadin-grid-column>
                    <vaadin-grid-column>
                        <template class="header">Data 3</template>
                        <template>{{item.dataThree}}</template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>

                <detail-panel id="detail" class="mdc-detail" hide-border>

                    <h3>These comboboxes are using primitive values with controller bean binding</h3>

                    <uibuilder-combobox id="dataOneCb" item-bind="selected:dataOne">
                        <item-data-source name="dataOneDS" items="{{primitiveTestCb.dataOneItems}}"></item-data-source>
                        <template>{{item}}</template>
                    </uibuilder-combobox>

                    <uibuilder-combobox id="dataTwoCb" item-bind="selected:dataTwo">
                        <item-data-source name="dataTwoDS" items="{{primitiveTestCb.dataTwoItems}}"></item-data-source>
                        <template>{{item}}</template>
                    </uibuilder-combobox>

                    <uibuilder-combobox id="dataThreeCb" item-bind="selected:dataThree">
                        <item-data-source name="dataThreeDS" items="{{primitiveTestCb.dataThreeItems}}"></item-data-source>
                        <template>{{item}}</template>
                    </uibuilder-combobox>

                </detail-panel>

                <master-detail-controller
                    id="mdc" master="grid" detail="detail"
                    on-save="primitiveTestCb::onSave"
                    on-delete="primitiveTestCb::onDelete"
                    on-refresh="primitiveTestCb::onRefresh"
                    item-supplier="{{primitiveTestCb::create}}">
                </master-detail-controller>
                <!-- CODE BLOCK DEFINITION END -->

                <div style="clear: both"></div>
            </div>
        </div>

        <vaadin-tabs selected="{{page1}}">
            <vaadin-tab>simple_primitive_test_mdc.html</vaadin-tab>
            <vaadin-tab>PrimitiveTestRepository.java</vaadin-tab>
            <vaadin-tab>PrimitiveTestControllerBean.java</vaadin-tab>
        </vaadin-tabs>
        <iron-pages selected="[[page1]]">
            <page>
                <uibuilder-code-block lang="html" href="static/code-blocks/simple_primitive_test_mdc.html">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/PrimitiveTestRepository.java">
                </uibuilder-code-block>
            </page>
            <page>
                <uibuilder-code-block lang="java" href="static/code-blocks/PrimitiveTestControllerBean.java">
                </uibuilder-code-block>
            </page>
        </iron-pages>
    </div>
    <!-- CODE BLOCK DEFINITION - simple_primitive_test_mdc.html - START -->
</uibuilder-page>
<!-- CODE BLOCK DEFINITION END -->
