<dom-module id="vaadin-tab-theme" theme-for="vaadin-tab">
    <template>
        <style>
            :host([theme~="rounded"]){
                border: 1px solid var(--lumo-contrast-10pct);
                border-bottom: none;
                margin-right: 5px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                background: #80808012;
            }
            :host([selected][theme~="rounded"]) {
                border-bottom: 1px solid white;
                background: white;

            }
            :host([selected][theme~="rounded"])::before, :host([selected][theme~="rounded"])::after {
                background-color: rgba(255, 0, 0, 0);
            }
        </style>
    </template>
</dom-module>
