<uibuilder-page>

    <test-component id="test-id">
        <div>content</div>
    </test-component>

    <vaadin-grid id="grid-id"></vaadin-grid>
    <vaadin-check-box id="checkbox-id"></vaadin-check-box>
    <unsupported-element id="unsup-id"></unsupported-element>

</uibuilder-page>
