<uibuilder-page id="test-page">
    <vaadin-button on-click="testBean::testMethod1">Button1</vaadin-button>
    <vaadin-button on-click="testBean::testMethod2">Button2</vaadin-button>
</uibuilder-page>
