<root>
    <walkable-tag>
        <first-tag></first-tag>
        <to-replace name="YES">
            <inner-one></inner-one>
            <to-replace name="YES">
                <inner-four></inner-four>
            </to-replace>
            <inner-two></inner-two>
            <to-replace name="NO">
                <inner-five></inner-five>
            </to-replace>
            <inner-three></inner-three>
        </to-replace>
        <last-tag></last-tag>
    </walkable-tag>
</root>
