<boot-component>
    <walkable-tag with="attribute">
        <sub-tag>
            <change-this element="yes"></change-this>
        </sub-tag>
        <same-level-element></same-level-element>
    </walkable-tag>
</boot-component>
